
.chat-content{
    background-color: rgb(151, 180, 18);
    background-color: rgba(217, 217, 217, 8%);
    border-radius: 56px;
    padding: 15px;
    grid-template-columns: 25% 74%;
    display: grid;
    gap:1em; 
    height: 100%; 
}

/* ----------- chat list ----------- */
.chat-content .chat-list-container{
    background-color: #FFEEBF;
    border-radius: 56px;
    padding: 3px;
    grid-template-rows: 10% 0.5% 89.5%;
    display: grid;
}

.chat-content .chat-list-container .clicked-chat {
    background-color: rgba(208, 210, 217, 0.514);
}

.chat-content .chat-list-container .separator{
    background-color: rgba(208, 210, 217, 0.61);
    border-radius: 56px;
}

    /* ----------- chat list header ----------- */
.chat-content .chat-list-container .chat-list-header{
    background-color: transparent;
    font-family: myFont;
    border-radius: 56px;
    color: #0A466E;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.chat-content .chat-list-container .chat-list-header .fa-rocketchat{
    margin: 2px;
    font-size: xx-large;
    color: rgba(10, 70, 110, 1);
}

/* ----------- chat list items ----------- */

.chat-content .chat-list-container .chat-list-items{
    padding: 5px;
    border-radius: 56px;
    grid-template-rows: repeat(9, 10%);
    display: grid;
    gap: 0.2em;
    overflow-y: auto;
    overflow-x: hidden;

}

.chat-content .chat-list-container .chat-list-items .chat-item{
    padding: 5px;
    border-radius: 20px;
    grid-template-columns: 18% 80%;
    display: grid;
    cursor: pointer;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.185);

} 
 
.chat-content .chat-list-container .chat-list-items .chat-item:hover{
    background-color: rgba(208, 210, 217, 0.514);
}
    /* ----------- avatar ----------- */

.chat-content .chat-list-container .chat-list-items .chat-item .contact-avatar{
    border-radius: 50px;
    width: 60px;
    height: 60px;
    background-color: #2C3453; 
}

.chat-content .chat-list-container .chat-list-items .chat-item .contact-box{
    grid-template-rows: 50% 50%;
    display:  grid;
}

.chat-list-items .chat-item .contact-box .contact-box-header{
    grid-template-columns: 60% 40%;
    display:  grid;
}

/* ----------- name  ----------- */
.chat-list-items .chat-item .contact-box .contact-box-header .contact-name{
    padding: 5px;
    font-size: large;
    font-weight: bold;
    border-radius: 70px;
    color: rgba(10, 70, 110, 1);
}

.time-last-message{
    padding: 8px;
    font-size:medium;
    font-family: myFont;
    color: rgba(158, 158, 158, 1);
    justify-content: end;
    display: flex;
    
}

/* ----------- last msg  ----------- */

.last-message{
    color: rgba(155, 155, 155, 1);
    border-radius: 70px;
    padding-left: 5px;
}

/* ----------- time of the last msg  ----------- */

.message-list{
    background-color: #D2D4DA;
    border-radius: 56px;
    grid-template-rows: 10% 0.5% 74% 15.5%;
    display: grid;
} 

.message-list .header{
    background-color: transparent;
    padding: 5px;
    padding-left: 30px;
    border-radius: 40px;
    grid-template-columns: 6% 41% 49.5% 3%;
    display: grid;
} 

.message-list .header .contact-avatar{
    margin-top: 5px; 
    height: 60px;
    width: 60px;
    /* border: 1px solid rgb(234, 1, 255); */
}

.message-list .header .contact-name{
    padding-top: 26px;
    font-size: larger;
    color: #0A466E;
    font-family: myFont;
    color: #0A466E;
    /* border: 1px solid rgb(234, 1, 255); */
}

.message-list .header .play-button {
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px solid rgb(234, 1, 255); */
}

.message-list .header .play-button .btn{
    border-radius: 50px;
    /* border: 1px solid rgb(234, 1, 255); */
}

.message-list .header .play-button button{
    border: none;
    background-color: #FFEEBF;
    border-radius: inherit;
    width: 80px;
    height: 45px;
    color: #D45154;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    cursor: grabbing;
    transition-duration: 0.5s;
}

.message-list .header .more-info{
    padding-top: 21px;
    /* border: 1px solid rgb(234, 1, 255); */

}

.message-list .header .more-info .bi-three-dots-vertical{
    color: #2C3453;
    padding-top: 21px;
    /* border: 1px solid rgb(234, 1, 255); */
}

.message-list .separator{
    border-radius: 56px;
    background-color: #e2dede;
}

/*----------------------content-------------------------*/
 
.message-list .msg-list-content{
    background-color: transparent;
    /* grid-template-rows: 50% 50%; */
    /* height: 27%; should be a variable depend of lenth of the message */
    /* display: grid; */
   
} 

/*----------------------sender-------------------------*/

.message-list .msg-list-content .sender{
    padding: 15px;
    width: 50%;
    grid-template-columns: 11.5% 88%;
    display: grid;
    float: left;
    clear: both;

}

.message-list .msg-list-content .sender .sender-avatar{
    width: 55px;
    height: 55px;
    border-radius: 50px;
    background-color: #E8E9EC;
}

.message-list .msg-list-content .sender .msg{
    border-radius: 70px 50px 50px 0px;
    background: rgba(255, 255, 255, 0.5);
    width: 90%;
    
    /* height: 50px; should be a variable depend of lenth of the message */
    backdrop-filter: blur(10px);
    grid-template-columns: 85% 13%;
    display: grid;
}

.message-list .msg-list-content .sender .msg .msg-content{
    color: #0A466E;
    padding: 16px;
    font-size:medium;
    font-family: myFont;
    
}

.message-list .msg-list-content .sender .msg .msg-time{
    color: #9E9E9E;
    display: flex;
    justify-content: center;
    padding-top: 27px;
    font-size: 14px;
}

/*----------------------receiver-------------------------*/

.message-list .msg-list-content .receiver{
    padding: 15px;
    /* padding-left: 20px; */
    /* height: 80px; */
    /* width: 50%; */
    /* display: flex; */
    /* justify-self: end; */

    width: 50%;
    grid-template-columns: 88% 11.5%;
    display: grid;
    float: right;
    clear: both;
}

.message-list .msg-list-content .receiver .msg{
    border-radius: 50px 70px 0px 50px;
    background: rgba(255, 255, 255, 0.5);
    width: 90%;
    backdrop-filter: blur(10px);
    grid-template-columns: 85% 13%;
    display: grid;
    margin-right: 3px;
}


.message-list .msg-list-content .receiver .receiver-avatar{
    margin-left: 10px;
    width: 55px;
    height: 55px;
    border-radius: 50px;
    background-color: #E8E9EC;
    justify-self: end;
    margin-right: 15px;    
}
.message-list .msg-list-content .receiver .msg .msg-content{
    color: #0A466E;
    padding: 16px;
    font-size:medium;
    font-family: myFont;
    
}

.message-list .msg-list-content .receiver .msg .msg-time{
    color: #9E9E9E;
    display: flex;
    justify-content: center;
    padding-top: 27px;
    font-size: 14px;
}

/*---------------------typing msg--------------------------*/

.message-list .typing{
    border-radius: 0px 0px 56px 56px ;
    background-color: #E8E9EC;
    grid-template-columns: 94% 4%;
    display: grid;
}

.message-list .typing .input-msg{
    background-color: inherit;
    border-radius: 0px 0px 0px 56px;
    font-size: 20px;
    padding: 15px;
    padding-left: 60px;
    border: none;
    color: #0A466E;
    /* border: 1px solid rgb(234, 1, 255); */
}  

.message-list .typing input:focus{
    outline: none;
}

.message-list .typing .send-icon{    
    margin: auto;
    width: 50px;
    height: 50px;
    align-items: center;
    /* border: 1px solid rgb(234, 1, 255); */

}

.message-list .typing .fa-paper-plane
{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 8px;
    background-color: #b8b5b479;
    display: flex;
    align-items: center;
}
/*----------------------more Settings--------------------------*/

.chat-content .about-friend{
    /* border: 1px solid rgb(234, 1, 255); */
    background-color: #FFEEBF;
    border-radius: 56px;
    grid-template-rows: 10% 0.5% 89.5%;
    padding: 0;
    display: grid;
    border-radius : '0px 56px 56px 0px';
}

.chat-content .about-friend .header{
    background-color: transparent;
    grid-template-columns: 85% 10%;
    display: grid;
    font-weight: bold;
    font-size: 25px;
    font-family: myFont;
    /* border: 1px solid rgb(234, 1, 255); */

}

.chat-content .about-friend .header .title{
    color: #B8B5B4;
    margin: auto;
    padding-left: 30px;
}

.chat-content .about-friend .header .fa-xmark{
    align-items: center;
    display: flex;
    color:  #B8B5B4;
    justify-self: center;
}

.chat-content .about-friend .separator{
    background-color: rgba(208, 210, 217, 0.61);
    border-radius: 56px;
}

.chat-content .about-friend .about-friend-content{
    grid-template-rows: 25% 8% 25% 10%;
    gap: 1em;
    display: grid;
    /* border: 1px solid rgb(234, 1, 255); */

}

.chat-content .about-friend .about-friend-content .friend-info{
    grid-template-rows: 80% 10%;
    display: grid;
    /* border: 1px solid rgb(42, 150, 15); */
}

.chat-content .about-friend .about-friend-content .friend-info .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin:auto;
    background-color: #2C3453;
    /* border: 1px solid rgb(234, 1, 255); */
}

.chat-content .about-friend .about-friend-content .friend-info .name{
    display: flex;
    justify-content: center;
    color: #0A466E;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    /* border: 1px solid rgb(234, 1, 255); */
}

.chat-content .about-friend .about-friend-content .level{
    width: 80%;
    margin:auto;
    height: 12px;
    border-radius: 10px;
    background: linear-gradient(to right, rgba(17, 194, 64, 1), rgba(55, 164, 84, 1), rgba(255, 255, 255, 1));
    /* border: 1px solid rgb(234, 1, 255); */
}

.chat-content .about-friend .about-friend-content .options{
    grid-template-rows: 50% 25%;
    display: grid;
    padding: 15px;
    justify-content: center;
    align-items: center;
    font-size: 20px;

    /* border: 1px solid rgb(234, 1, 255); */

}

.chat-content .about-friend .about-friend-content .options .fa-address-card{
    color: #0A466E;
    justify-self: center;
    display: flex;
}

.view-profile{
    margin-left: 25px;
}

.chat-content .about-friend .about-friend-content .options .fa-user-lock{
    color: #0A466E;
    display: flex;
    color: #D44444;
}

.block-profile{
    margin-left: 25%;
    color:  #0A466E;
    font-weight: 100;
}

.chat-content .about-friend .about-friend-content .play{
    background-color: transparent;
    align-items: center;
    display: flex;
    justify-content: center;
}

.chat-content .about-friend .about-friend-content .play button{
    background-color: #D44444;
    color: #D9DBBC;
    border-radius: 100px;
    width: 132px;
    border: none;
    height: 48px;
    font-size: 20px;
    font-weight:bold;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(212, 68, 68, 0.29));
}

.chat-content .about-friend .about-friend-content .play button:hover{
    rotate: 360deg;
    transition: 0.6s;
}

.hidden{
    display: initial;
}

.more-info img{
    width: 24px;
    height: 24px;
}


/* ---custom scrool bar-- */

.msg-list-content::-webkit-scrollbar{
    width: 12px;
}
.msg-list-content::-webkit-scrollbar-track{
    background-color: #FFEEBF;
}
.msg-list-content::-webkit-scrollbar-thumb{
    background: #F45250;
    border-radius: 10px;
}