*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family: myFont;
}

/* --------------------home-Content------------------ */
html {
    scroll-behavior: smooth;
}

.home-content{
    /* padding: 8px; */
    background-color: rgba(217, 217, 217, 0.05);
    border-radius: 56px;
    display: grid;

    width: 100%;
    height: 100%;
    grid-template-rows: 49% 49%;
    row-gap: 2%;
    /* border: 1px solid rgb(234, 1, 255); */
}

.home-content .home-top{
    padding-top: 1%;
    padding-right: 1%;
    padding-left: 1%;
    /* padding-bottom: 1%; */
    /* padding-right: 15px; */
    /* padding-top: 6px; */
    display: grid;
    grid-template-columns: 32.66% 66.3%;
    column-gap: 1%;
    /* border: 1px solid rgb(255, 1, 1); */
}

.home-content .home-top .leader-board{
    border-radius: 50px;
    background: #FFEEBF;
}

.home-content .home-top .welcoming-section{
    border-radius: 50px;
    background: #FFEEBF;
    height: 97%;
    /* padding: 3%; */
    /* display: grid;
    grid-template-columns: 60% 40%; */
    position: relative;
    /* border: 1px solid rgb(255, 251, 1); */
}

.home-content .home-top .welcoming-section .left-side{
    height: 60%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    /* border: 1px solid rgb(0, 0, 0); */
}


.home-content .home-top .welcoming-section .info{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 40%;
    height: 8%;
    background: #EAE0C2;
    border-radius: 20px;
    position: absolute;
    right: 49%;
    top: 270px;
    box-shadow: 0px 4px 4px rgba(43, 61, 112, 0.1);
    /* border: 1px solid rgb(255, 0, 0); */

}

.home-content .home-top .welcoming-section .info .score img,
.home-content .home-top .welcoming-section .info .acheivement img{
    width: 18px;
    height: 18px;
    margin-bottom: 4px;
}

.home-content .home-top .welcoming-section .info .score h1,
.home-content .home-top .welcoming-section .info  .rank h1{
    font-size: 16px;
    color: #5293CB;
    font-family: myFont;
    filter: none;
    text-shadow: none;
}

.home-content .home-top .welcoming-section .info .acheivement h1{
    font-size: 16px;
    font-family: myFont;
    color: #FBCA35;
    filter: none;
    text-shadow: none;
}

.home-content .home-top .welcoming-section .info .score span,
.home-content .home-top .welcoming-section .info .rank span{
    padding-left: 5px;
    font-size: 16px;
    font-family: David Libre;
    color: #315084;
    filter: none;
    text-shadow: none;
}

.home-content .home-top .welcoming-section .info .rank,
.home-content .home-top .welcoming-section .info .score,
.home-content .home-top .welcoming-section .info .acheivement{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
    /* border: 1px solid rgb(0, 0, 0); */

}

.home-content .home-top .welcoming-section .info .acheivement span{
    padding-top: 5px;
    padding-left: 2px;
    font-family: myFont;
}

.home-content .home-top .welcoming-section .girl{
    width: 430px;
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    left: 55%;
    top: 8.7%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.53));

    /* border: 1px solid rgb(255, 1, 1); */
}

.home-content .home-down{
    /* padding-top: 1%; */
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
    /* padding: 15px; */
    display: grid;
    grid-template-columns: 32.66% 32.66% 32.66%;
    column-gap: 1%;
    /* border: 1px solid rgb(255, 251, 1); */

}

.home-content .home-down .training-boot{
    border-radius: 50px;
    background: #FFEEBF;
    position: relative;
}

.home-content .home-down .training-boot img{
    width: 300px;
    height: 300px;
    transform: scaleX(-1);
    position: absolute;
    left: 25%;
    top: 14%;
    filter: drop-shadow(0px 4px 4px rgba(49, 44, 44, 0.5));
    /* border: 1px solid rgb(1, 255, 192); */
}

.home-content .home-down .training-boot h1, .home-content .home-down .tournament h1,
.home-content .home-down .player-vs-player h1{
    height: 100px;
    font-family: myFont;
    letter-spacing: 2px;
    font-size: 35px;
    color: #33518F;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: blur(0.5px);
    text-shadow: 0px 2px 2px rgba(145, 126, 126, 0.5);


    /* border: 1px solid rgb(255, 1, 1); */
}

.home-content .home-down .training-boot .btn
{
    border: none;
    display: inline-block;
    width: 160px;
    font-family: myFont;
    color: #D9DBBC;
    font-size: 24px;
    position: relative;
    left: 35%;
    top: 49%;
    background: #D44444;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 100px;
    letter-spacing: 3px;
    text-shadow: 0px 4px 4px rgba(232, 235, 68, 0.3);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(212, 68, 68, 0.29);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    /* border: 1px solid rgb(1, 225, 255); */
}

.home-content .home-down .tournament .btn
{
    border: none;
    display: inline-block;
    width: 160px;
    font-family: myFont;
    color: #D9DBBC;
    font-size: 24px;
    position: relative;
    left: 35%;
    /* bottom: 0%; */
    background: #D44444;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 100px;
    letter-spacing: 3px;
    text-shadow: 0px 4px 4px rgba(232, 235, 68, 0.3);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(212, 68, 68, 0.29);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    /* border: 1px solid rgb(1, 225, 255); */
}

.home-content .home-down .player-vs-player .btn
{
    border: none;
    display: inline-block;
    width: 160px;
    font-family: myFont;
    color: #D9DBBC;
    font-size: 24px;
    position: relative;
    left: 35%;
    top: 11.9%;
    /* top: 1px; */
    background: #D44444;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 100px;
    letter-spacing: 3px;
    text-shadow: 0px 4px 4px rgba(232, 235, 68, 0.3);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(212, 68, 68, 0.29);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    /* border: 1px solid rgb(1, 225, 255); */
}

.home-content .home-down .btn:hover,
.home-content .home-down .btn:focus,
.home-content .home-down .btn:active{
    box-shadow: 0px 4px 4px rgba(212, 68, 68, 0.795);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* ------------Tournament------------- */

.home-content .home-down .tournament{
    border-radius: 50px;
    background: #FFEEBF;
}

.home-content .home-down .tournament .button{
    display: inline-block;
    width: 160px;
    font-family: myFont;
    color: #D9DBBC;
    font-size: 24px;
    position: relative;
    left: 35%;
    /* top: %; */
    bottom: 3%;
    background: #D44444;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 100px;
    letter-spacing: 3px;
    text-shadow: 0px 4px 4px rgba(232, 235, 68, 0.3);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(212, 68, 68, 0.29);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.home-content .home-down .tournament .button:hover,
.home-content .home-down .tournament .button:focus,
.home-content .home-down .tournament .button:active{
    box-shadow: 0px 4px 4px rgba(212, 68, 68, 0.795);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


.home-content .home-down .tournament .hierarchy{
    display: grid;
    justify-content: center;
    grid-template-columns: 15% 15% 25% 15% 15%;
    /* border: 1px solid rgb(255, 1, 1); */
}


/* -------------------col1---------------- */

.home-content .home-down .tournament .hierarchy .col1{
    display: grid;
    grid-template-rows: 40% 20% 40%;
    /* border: 1px solid rgb(26, 1, 255); */
}

.home-content .home-down .tournament .hierarchy .col1 .girl-div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    /* border: 1px solid #63fcf4; */
}

.home-content .home-down .tournament .hierarchy .col1 .vs1-div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    /* border: 1px solid #6372fc; */
}

.home-content .home-down .tournament .hierarchy .boy-div{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #63fcf4; */
}

.home-content .home-down .tournament .hierarchy .player1{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #E0DA5A;
    box-shadow: 0px 4px 4px rgba(49, 44, 44, 0.5);
}

.home-content .home-down .tournament .hierarchy .player3{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #E0DA5A;
    box-shadow: 0px 4px 4px rgba(49, 44, 44, 0.5);

}

/* ------------------trophy-div---------------- */

.home-content .home-down .tournament .hierarchy .trophy-div{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #6372fc; */
}

.home-content .home-down .tournament .hierarchy .trophy{
    width: 200px;
    height: 200px;
    filter: drop-shadow(0px 4px 4px rgba(49, 44, 44, 0.5));

}

.home-content .home-down .tournament .hierarchy .girl-div{
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* border: 1px solid #6372fc; */

}

.home-content .home-down .tournament .hierarchy .boy-div{
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* border: 1px solid #6372fc; */
}

.home-content .home-down .tournament .hierarchy .player2{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #E0DA5A;
    box-shadow: 0px 4px 4px rgba(49, 44, 44, 0.5);

}

.home-content .home-down .tournament .hierarchy .player4{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #2888ED;
    box-shadow: 0px 4px 4px rgba(49, 44, 44, 0.5);

}

.home-content .home-down .tournament .hierarchy .vs{
    width: 30px;
    height: 30px;
    
    filter: drop-shadow(0px 4px 4px rgba(49, 44, 44, 0.5));


}

/* -------------------col3--------------- */

.home-content .home-down .tournament .hierarchy .col3{
    display: grid;
    grid-template-rows: 40% 20% 40%;
    /* border: 1px solid rgb(26, 1, 255); */
}

.home-content .home-down .tournament .hierarchy .col3 .boy-div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    /* border: 1px solid #63fcf4; */
}

.home-content .home-down .tournament .hierarchy .col3 .vs2-div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;

    /* border: 1px solid #6372fc; */
}

.home-content .home-down .tournament .hierarchy .player6{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #2888ED;
    box-shadow: 0px 4px 4px rgba(49, 44, 44, 0.5);

}

.home-content .home-down .tournament .hierarchy .player5{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #2888ED;
    box-shadow: 0px 4px 4px rgba(49, 44, 44, 0.5);

}

/* ----------------playerVSplayer---------- */

.home-content .home-down .player-vs-player{
    border-radius: 50px;
    background: #FFEEBF;
    /* height: 100%; */
    /* border: 1px solid #5a79e0; */
}

.home-content .home-down .players{
    /* height: 1%; */
    display: grid;
    grid-template-columns: 45% 10% 45%;
    /* border: 1px solid #E0DA5A; */
}

.home-content .home-down .players .play-girl{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #00e91f; */

}

.home-content .home-down .players .girlplay{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #E0DA5A;
    box-shadow: 0px 4px 4px rgba(49, 44, 44, 0.5);

}

.home-content .home-down .players .boy{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #2888ED;
    box-shadow: 0px 4px 4px rgba(49, 44, 44, 0.5);

}

.home-content .home-down .players .vs2{
    width: 90px;
    height: 90px;
    filter: drop-shadow(0px 4px 4px rgba(49, 44, 44, 0.5));

}

/* -----------------tournament-------------------- */

.home-content .home-top .leader-board{
    display: grid;
    grid-template-rows: 9.25% 9.25% 9.25% 9.25% 60%;
    /* width: 100%; */
    height: 97%;
    padding: 3%;
    /* row-gap: 0.5%; */
    /* border: 1px solid #E0DA5A; */
}

.home-content .home-top .leader-board .winners .coll1{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #E0DA5A; */
}

.home-content .home-top .leader-board .winners .coll1 img{
    width: 100px;
    /* height: 100%; */
    filter: drop-shadow(0px 4px 4px rgba(49, 44, 44, 0.5));
    padding-right: 5px;

}

.home-content .home-top .leader-board .winners .coll2{
    display: grid;
    grid-template-columns: 32.5% 34% 33.5%;
    /* border: 1px solid #00e759; */
}

.home-content .home-top .leader-board .winners .coll2 .sec{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    /* border: 2px solid #000000; */
}

.home-content .home-top .leader-board .winners .coll2 .player{
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 2px 2px rgba(145, 126, 126, 0.5));
    
    /* border: 2px solid #000000; */
}

.home-content .home-top .leader-board .winners .coll2 .three{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    
    /* border: 2px solid #000000; */
}

.home-content .home-top .leader-board .winners .coll2 .second,
.home-content .home-top .leader-board .winners .coll2 .third{
    width: 40px;
    height: 40px;
    filter: drop-shadow(0px 4px 4px rgba(49, 44, 44, 0.5));
    /* border: 2px solid #000000; */

}

.home-content .home-top .leader-board .winners .coll2 .first-player{
    width: 60px;
    height: 60px;
    filter: drop-shadow(0px 4px 4px rgba(180, 164, 164, 0.5));

}

.home-content .home-top .leader-board .winners .coll3{
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 50px;
}

.home-content .home-top .leader-board .winners .coll3 .second-player{
    padding-left: 40px;
    height: 44px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    filter: drop-shadow(0px 4px 4px rgba(156, 141, 141, 0.5));
}

.home-content .home-top .leader-board .winners .coll3 .third-player{
    padding-right: 48px;
    height: 44px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    filter: drop-shadow(0px 4px 4px rgba(156, 141, 141, 0.5));
    /* border: 2px solid #ff0000; */
}

.home-content .home-top .leader-board .winners .coll3 img{
    width: 45px;
    height: 45px;
    border-radius: 50px;
}

.home-content .home-top .leader-board .winners .coll4{
    padding-left: 60px;
    padding-right: 60px;
    display: grid;
    grid-template-columns: 20% 60% 20%;

    /* border: 2px solid #ff0000; */
}

.home-content .home-top .leader-board .winners .rank-div{
    display: flex;
    align-items: center;
    justify-content: center;

}

.home-content .home-top .leader-board .winners .user,
.home-content .home-top .leader-board .winners .score-div{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-content .home-top .leader-board .winners h2{
    font-family: myFont;
    letter-spacing: 2px;
    font-size: 17px;
    color: #33518F;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: blur(0.5px);
    text-shadow: 0px 4px 4px rgba(49, 80, 142, 0.50);
}

.home-content .home-top .leader-board .winners .board{
    padding: 5px 60px 10px 70px;
}

.home-content .home-top .leader-board .winners .board .lead{
    height: 165px;
    display: grid;
    grid-auto-rows: 15%;
    row-gap: 0.4em;
}

.home-content .home-top .leader-board .winners .board .lead .first-one{
    height: 25px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background: #FEB08A;
    border-radius: 20px;
    box-shadow: 0 2px 2px rgba(54, 85, 167, 0.72);

    /* border: 2px solid #ff0000; */
}

.home-content .home-top .leader-board .winners .board .lead p{
    height: 25px;
    font-family: myFont;
    letter-spacing: 2px;
    font-size: 10px;
    color: #33518F;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 25px;
    filter: blur(0.5px);
    text-shadow: 0px 4px 4px rgba(49, 80, 142, 0.50);
    /* border: 2px solid #ff0000; */


}

.home-content .home-top .leader-board .winners .board .lead h3{
    height: 25px;
    font-family: Josefin Sans;
    letter-spacing: 2px;
    font-size: 15px;
    color: rgba(10, 55, 126, 0.65);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    text-shadow: 0px 4px 4px rgba(49, 80, 142, 0.50);

}

.home-content .home-top .leader-board .winners .board .lead .scor-coin{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
}

.home-content .home-top .leader-board .winners .board .lead img{
    width: 15px;
    height: 15px;
}

.home-content .home-top .leader-board .winners .board .lead .second-one{
    height: 25px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background: #CBCBCB;
    border-radius: 20px;
    box-shadow: 0 2px 2px rgba(54, 85, 167, 0.71);

    /* border: 2px solid #ff0000; */
}
/* ---------------------------------------------player_form--------------------- */

