@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

@font-face {
    ont-family: 'Ubuntu Sans';
    src: url('./fonts/UbuntuSans-Regular.ttf') format('truetype');
    font-family: myFont;
    src: url(../fonts/Season\ Prime.otf);
}

@font-face {
    font-family: 'Ubuntu Sans', hFont;
    src: url(../fonts/Playground.ttf);
}

body{
    /* overflow: none; */
    background-color:#161C40 ;
    color: #fff;
}

/* -------------------------------NAV-SECTION------------------------------------------- */

html{
    scroll-behavior: smooth;
}

#landing-header{
    height: 100vh;
}

.logo{
    width: 80px;
    height: 50px;
    cursor: pointer;
    transition: filter 0.3s ease;
    padding-left: 2px;
}

.logo:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s;
}

.logo .clicked{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s;
}

.landing-nav .logo{
    margin-left: 27px;
    margin-top: 12px;
}
.landing-nav{
    position: fixed; 
    background: #161C40;
    width: 100%;
    top: 0;
    z-index: 1;  
}

.nav-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: right;
    margin-top: 10px;
    margin-right: 100px;
}

.nav-links li{
    padding: 10px;
    list-style-type: none;
}

.nav-links li a{
    color: #fff;
    font-size: 16px;
    font-family: myFont;
    text-decoration: none;
    margin-left: 80px;
    transform: 0.5s;
}
.nav-links li a:hover{
    color:#D44444;

}
.nav-links li:hover
{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s;
    color:#D44444;

}
/* .nav-links li a:hover{
    font-size: 19px;
    color:#5cd444;
} */

.nav-links li a:active{
    font-size: 19px;
    color:#D44444;
}
/* //this  */
.nav-links a button,
#header-intro button
{
    font-size: 14px;
    font-family: myFont;
    color: #FFEEBF;
    margin-right: 15px;
    border: none;
    background: linear-gradient(rgba(212, 68, 68, 0.5), rgba(208, 34, 34, 0.7));
    box-shadow: 2px 2px 5px rgba(212, 68, 68,0.7);
    border-radius: 30px;
    border-top-right-radius: 0;
    width: 150px;
    height: 30px;
    margin-left: 80px;
    transition: 0.5s;
}

.nav-links button:hover{
    border-radius: 30px;
    background: #D44444;
}

.active{
    border-radius: 30px;
    background: #D44444;
}
/* ---------------------------HEADER-INTRODUCTION-------------------------------------------------- */

#header-intro{
    height: 100vw;
   padding-top: 5%;
}

#header-intro img{
    float: right;
    border: none;
    border-radius: 150px;
    filter: drop-shadow(7px 7px 7px rgba(0,0,0));
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin: 120px 170px 10px 10px;
}

#header-intro .intro{
    float: left;
    padding: 10px 40px;
    margin-left: 150px;
}


.intro h1{
    font-family: 'Lemon',serif;
    text-shadow: 10px 10px 20px rgba(0, 0, 0,0.3);
    font-size: 120px;
    margin-top: 100px;
    line-height: 8rem;
}

.intro h1 span{
    font-family: 'Lemon',serif;
    color: #FFEEBF;
}

.intro  p{
    text-align: center;
    font-family: 'Lemon',serif;
    font-size: 17px;
    margin-top: 5px;
    padding:35px 20px;
}

.join-btn{
    width: 100%;
    text-align: center;
}

#header-intro button{
    border-radius: 30px;
    padding: 10px 70px;
    margin-top: 20px;
    width: 350px;
    height: 50px;
    transition: 0.5s;
    margin-bottom: 20px;
    text-align: center;
    border: none;
}

#header-intro button a{
    font-size: 17px;
    color: #FFEEBF;
}

#header-intro button:hover{
    color: #fff;
    background: #D44444;
    border-top-right-radius: 30px;
} 


/* ----------------------------------ABOUT-SECTION----- */

#about-section{
    height: 100vh; 
}

#about-section h2{
    text-align: center;
    color: #FFEEBF;
    font-size: 100px;
    letter-spacing: 0.5rem;
    font-family: 'Lemon',serif;
    text-shadow: 10px 10px 20px rgba(0, 0, 0,0.3);
    padding-top:150px;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 70%;
    margin-top: -30x;
}


.glass-cart{
    position: relative;
    background: linear-gradient(90deg,rgb(255,255,255,0.2),rgb(153,153,153,0.1));
    backdrop-filter: blur(20px);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    border: none;
    width: 50%;
    height: 300px;
}

.glass-cart img{
    position: absolute;
    filter: drop-shadow(7px 7px 7px rgb(0, 0, 0));
    right: -150px;
    bottom: -52px;
    width: 400px;
    height: 400px;
}

.about-text{
    display: flex;
    width: 100%;
}

.about-text p{
    width: 100%;
    font-family: 'Lemon',serif;
    font-size: 15px;
    margin-right: 20%;
    line-height: 2rem;
    color: #FFF;
    padding: 20px;
}

/* ---------------------------------------------TEAM-SECTION------------------------ */

#team-section{ 
    width: 100%;
    height: 100vh;
    text-align: center;
    margin-top: 300px;
}

#team-section h2{
    font-family: 'Lemon',serif;
    font-size: 100px;
    padding-top: 200px;
    line-height: 2rem;
}

#team-section h2 span{
    font-family: 'Lemon',serif;
    color: #FFEEBF;
    font-size: 27px;
}

#team-section p{
    font-size: 17px;
    font-family: 'Lemon',serif;
    padding: 20px;
}


.team-pics{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px ;
}

.team-pics .card
{
    position: relative;
    width: 300px;
    height: 400px;
    overflow: hidden;
    box-shadow: 0 30px 30px -20px rgba(0,0,0,1);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    /* border: 1px solid yellow; */
}

.team-pics .card .pic{
    width: 100%;
    height: 100%;
} 
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .content-card{

    position: absolute;
    bottom: -160px;
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.1);
    transition: bottom 0.5s;
    transition-delay: 0.65s;

}
.card:hover .content-card
{
    bottom: 0;
    transition-delay: 0s;
}

.contentBx ,.contentBx h3{
    font-size: 18px;
    font-weight: 500px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1em;
    transition: 0.5s;
    transition-delay: 0.6s;
    transform: translateY(-20px);
    margin: 20px 0 a5px;
    padding: 15px;
    opacity: 1;
}

.card:hover .contentBx ,.contentBx h3{
    opacity: 1;
    transform: translateY(0);
}

.contentBx h3 span{
    font-size: 12px;
    font-weight: 300px;
    text-transform: initial;
}
.box-icon {
    display: flex;
    position: relative;
    bottom: 10px;
}


.box-icon li{
    list-style: none;
    margin: 0px 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 1;
    transition-delay: calc(0.2s * var(--i));
}

.card:hover .content-card .box-icon li{
    transform: translateY(0);
    opacity: 1;
}

.box-icon li a{
    font-size: 27px;
    color: #FFF;
}


/* -----------------------------------FOOTER-SECTION----------------------------------- */




#footer-section{
    background: #090C22;
    display: block;
    text-align: center;
}

.footer-media ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-media ul li{
    list-style: none;
    margin: 10px;
}

.footer-media ul li a{
    color: #000;
    font-size: 27px;
}
.footer-media ul .media-bg{
    border-radius: 50%;
    padding: 2px;
    margin: 12px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
    background: #fff;
    
}

.footer-media ul li a:hover{
    color: #D44444;
    font-size: 20px;
    cursor: pointer;
}


.footer-services ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.footer-services ul li{
    list-style: none;
    font-size: 20px;
}

.footer-services ul li a{
    color: #7F7D7D;
}

.footer-services ul li a:hover{
    cursor: pointer;
    color: #D44444;
    font-size: 16px;
}
.footer-copy-right{
    text-align: center;
    margin-top: 15px;
}

.footer-copy-right p{
    font-size: 15px;
}


::-webkit-scrollbar-track{
    /* background-color: #FFEEBF; */
    /* background-color: #7F7D7D; */

}