*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.local-tournament{
    /* padding: 8px; */
    background-color: rgba(217, 217, 217, 0.05);
    border-radius: 56px;
    display: grid;
    grid-template-columns: 40% 40%;
    column-gap: 20%;
    height: 97%;
    /* width: 200%; */
    overflow: hidden;
    /* border: 1px solid rgb(1, 238, 255); */

}

.local-tournament .create,
.local-tournament .create_one
{
    display: grid;
    grid-template-rows: 15% 85%;
    height: 859px;
    /* overflow: hidden; */
    /* width: 100%; */


    /* border: 1px solid rgb(1, 238, 255); */

}

.local-tournament .create .title
{
    display: flex;
    justify-content: center;
    align-items: end;
    /* position: absolute; */
    /* top: 7%; */
    /* border: 1px solid rgb(225, 255, 1); */

}

.local-tournament .create_one .title
{
    display: flex;
    justify-content: center;
    align-items: start;
    /* border: 1px solid rgb(225, 255, 1); */

}


.local-tournament .create .title h1,
.local-tournament .create_one .title h2
{
    font-family: myFont;
    letter-spacing: 2px;
    font-size: 35px;
    color: #FFEEBF;
    /* position: absolute; */
    /* top: 7%; */
}

.local-tournament .create .tournaments{
    display: grid;
    grid-auto-rows: 11.1%;
    row-gap: 0.03em;
    align-items: center;
    justify-content: end;
    height: 93%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 104%;
    /* scrollbar-width: px; */
    /* overflow: hidden; */
    
    /* border: 1px solid rgb(225, 255, 1); */

}

.local-tournament .create .tournaments .created{
    display: grid;
    grid-template-columns: 20% 70% 10%;
    justify-content: center;
    align-items: center;
    background-color: #CBCBCB;
    border-radius: 25px;
    width: 400px;
    height: 65px;
    /* border: 1px solid rgb(1, 255, 242); */
}

.local-tournament .create .tournaments .created img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: relative;
    left: 20px;
}

.local-tournament .create .tournaments .created a{
    font-family: myFont;
    letter-spacing: 2px;
    font-size: 20px;
    color: #0446A4;
    text-decoration: none;
    cursor: pointer;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* position: absolute;
    left: 20%; */
}

/* ----------------------------------------------------------- */


.local-tournament form .form{
    display: grid;
    grid-template-rows: 90% 10%;
    row-gap: 10px;
    /* border: 1px solid rgb(255, 1, 1); */
}

.local-tournament form .form .tournament-name label {
    letter-spacing: 2px;
    font-family: myFont;
    font-size: 15px;
    color: #FFFFFF;
    transition: 0.3s;
    pointer-events: none;
    margin-left: 10px;
    display: block;
    margin-bottom: 10px;
    /* border: 1px solid rgb(255, 1, 1); */
    
}

.local-tournament form .form .tournament-name input {
    letter-spacing: 2px;
    font-family: myFont;
    width: 284px;
    height: 52px;
    background-color: #CBCBCB;
    font-size: 15px;
    color: #56748fbe;
    border-radius: 20px;
    letter-spacing: 3px;
    padding: 15px;
    border: none;
    cursor: text;
    box-sizing: border-box;
}

.local-tournament form .form .players-name label{
    letter-spacing: 2px;
    font-family: myFont;
    font-size: 15px;
    color: #FFFFFF;
    transition: 0.3s;
    pointer-events: none;
    margin-left: 10px;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}

.local-tournament form .form .players-name .players{
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    row-gap: 10px;
    /* border: 1px solid rgb(1, 238, 255); */
}

.local-tournament form .form .players-name .players .section{
    display: grid;
    grid-template-columns: 67% 10%;
    width: 350px;
    /* border: 1px solid rgb(255, 1, 1); */
}


.local-tournament form .form .players-name .players .section input{
    font-family: myFont;
    width: 284px;
    letter-spacing: 2px;
    background-color: #CBCBCB;
    font-size: 15px;
    color: #56748fbe;
    border-radius: 20px;
    letter-spacing: 3px;
    padding: 15px;
    border: none;
    cursor: text;
    box-sizing: border-box;

    /* border: 1px solid rgb(255, 1, 1); */
}

.local-tournament form .form .players-name .players .section .image
{
    width: 55px;
    height: 55px;
    position: relative;
    left: 60px;
}

.local-tournament form .form .players-name .players .section .image img
{
    width: 55px;
    height: 55px;
    border-radius: 100%;
}

.local-tournament form .form .players-name .players .image .edit_icon{
    color: #5293CB;
    cursor: pointer;
    font-size: 20px;
    transition: color 0.4s ease, filter 0.4s ease;
    position: absolute;
    left: 40px;
    top: 35px;

}

.local-tournament form .form .players-name .players .edit_icon input {
    display: none;
}

/* -------------------------------------------------- */

.local-tournament form .submit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 45%;

}

.local-tournament form .submit button{
    /* position: absolute;
    top: 90%;
    left: 45%; */
    display: inline-block;
    border: none;
    width: 100px;
    height: 50px;
    font-family: myFont;
    color: #FFEEBF;
    font-size: 20px;
    background: #D44444;
    text-decoration: none;
    text-align: center;
    border-radius: 40px;
    letter-spacing: 3px;
    cursor: pointer;
    border-width: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    /* border: 1px solid rgb(11, 237, 49); */

}

.local-tournament .submit button:hover,
.local-tournament .submit button:focus,
.local-tournament .submit button:active
{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

