*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family: myFont;
}
html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: myFont;
    src: url(../fonts/Season\ Prime.otf);
}

@font-face {
    font-family: hFont;
    src: url(../fonts/Playground.ttf);
}

.local-online{
    /* padding: 8px; */
    background-color: rgba(217, 217, 217, 0.05);
    border-radius: 56px;
    display: grid;
    height: 100%;
    /* width: 80%; */
    grid-template-rows: 40% 30%;
    /* row-gap: 0.2em; */
    /* border: 1px solid rgb(230, 255, 1); */
}

.local-online .game-title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;

    /* border: 1px solid rgb(31, 255, 1); */
}

.local-online .game-title h1{
    font-family: myFont;
    font-size: 50px;
    color: #FFEEBF;

    letter-spacing: 5px;
    /* padding-top: 100px;
    margin-right: 80px;
    margin-bottom: 10px; */

    /* border: 1px solid rgb(255, 1, 1); */

}

.local-online .content-body{
    display: grid;
    grid-template-columns: 47.5% 5% 47.5%;
    /* column-gap: 10%; */
    /* border: 1px solid rgb(255, 1, 1); */

}

.local-online .content-body .local{
    /* border: 1px solid rgb(255, 1, 1); */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.local-online .content-body .or{
    /* border: 1px solid rgb(255, 1, 1); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.local-online .content-body .or h2{
    color: #9E9E9E;
    font-size: 24px
}

.local-online .content-body .online{
    /* border: 1px solid rgb(255, 1, 1); */
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.local-online .content-body .local .btn,
.local-online .content-body .online .btn{
    border: none;
    border-radius: 30px;
    display: inline-block;
    width: 300px;
    height: 120px;
    font-family: myFont;
    font-weight: bold;
    color: #FFEEBF;
    font-size: 50px;
    background: #9E9E9E3D;
    letter-spacing: 3px;
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    /* -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform; */
}

.local-online .content-body .local .btn:hover,
.local-online .content-body .local .btn:focus,
.local-online .content-body .local .btn:active{
    /* box-shadow: 0px 4px 4px rgba(99, 90, 90, 0.795); */
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.local-online .content-body .online .btn:hover,
.local-online .content-body .online .btn:focus,
.local-online .content-body .online .btn:active{
    /* box-shadow: 0px 4px 4px rgba(99, 90, 90, 0.795); */
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
} 


