

.login-page-content .down{
    height: 100%;
    display: grid;
    grid-template-columns: 49% 51%;
    /* border: 1px solid red; */


}

.login-page-content .down .player{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 100px;
    /* border: 1px solid rgb(0, 4, 255); */

}

.login-page-content .down .player img{
    width: 550px;
    height: 550px;
    filter: drop-shadow(0px 4px 4px rgba(57, 71, 153, 0.96));
}

.login-page-content .down .info{
    display: grid;
    grid-template-rows: 20% 80%;
    /* border: 1px solid red; */

}

.login-page-content .down .title{
    display: flex;
    align-items: flex-start;
    /* justify-content: flex-end */
    padding: 50px;

    
}

.login-page-content .down .title h1{
    font-family: myFont;
    letter-spacing: 2px;
    font-size: 60px;
    color: #FFEEBF;
    text-shadow: 0px 4px 4px rgba(49, 80, 142, 0.50);
}

.login-page-content .down .register{
    
    width: 400px;
    height: 500px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin: 2% 9%;
    background: linear-gradient(132deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.02));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid linear-gradient(10deg, rgb(35, 107, 121), rgb(255, 255, 255));
    box-shadow: 1px 1px 1px rgba(57, 71, 153, 0.96);
    
}
.register  p{
    padding-top: 45px;
    color: #FFEEBF;
    font-family: myFont;
    text-decoration: none;
    font-size: 16px;
}

.register  a  {
cursor: pointer;
color: #A1AEC6;
}
.register .registerForm {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    padding:30px ;
    
}

.register .registerForm .firstRow{
    width: 278px;
    display:flex;
    column-gap: 10px;
    color: white;
    font-family: 'Josefin Sans';
}

.register .registerForm .firstRow input{
    width: 134px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 238, 191,0.21);
    box-shadow: 5px 4px 10px rgba(0, 0, 0,0.4);
    padding: 15px;
    /* color: white;
    font-family: 'Josefin Sans'; */

}

.register .registerForm .inputInfo
{
    width: 278px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 238, 191,0.21);
    box-shadow: 5px 4px 10px rgba(0, 0, 0,0.4);
    margin: 1px;
    padding: 15px;
    /* color: white;
    font-family: 'Josefin Sans'; */

    
}
.register .registerForm #first_name,
.register .registerForm #last_name,
.register .registerForm #username,
.register .registerForm #email,
.register .registerForm #password

{
    background-color: rgba(255, 0, 0, 0.2);
    border-color: red;
}
.register .registerForm input::placeholder {
    font-size: 15px;
    /* color:  rgba(255, 255, 255, 0.63); */
    color: rgba(161, 174, 198, 0.78);
}
.register .registerForm button
{
    background-color:#D44444;
    width: 130px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: none;
    color: #FFEEBF;
    font-family: myFont;
    font-size: 17px;
    margin-top: 25px;
}



.register  .separater{

    /* font-size: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    color:  rgba(255, 255, 255, 0.63);
    /* padding-top: 3px; */


}
.register  .separater h1{
    font-size: 10px;
    font-family: 'Josefin Sans';
    font-weight: normal;
    padding: 5px;
}
.register  .separater .line {
    width: 92px; /* Line thickness */
    height: 1px; /* Line height */
    /* background-color: rgba(255, 255, 255, 0.43); */
    color: rgba(255, 255, 255, 0.43);
}

.register  .Oauth_section{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    column-gap: 1.5em;
}
.register .Oauth_section .wrapLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
    border-radius: 100%;
    background-color:#535364;
    width: 45px;
    height: 45px;
}

.register .Oauth_section img{
    /* color: black;
     */
    /* font-family: ; */
    
    width: 30px;
}