

/*------------------------------------------------------ settings ---------------------*/

.settings-content
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(217, 217, 217, 0.05);
    /* position: relative;  */
    border-radius: 56px;   
    /* background: rgba(255, 255, 255, 0.2);  */
     
}

.settings-container 
{
    width: 95%;
    height: 90%;
    display: grid;
    grid-template-columns: 20% 80%;

    background: #CBCBCB;
    border-radius: 56px;
    /* position: absolute;
    left: 5%;
    top: 10%; */

    /* border: 2px solid yellow; */


}

.section-headings
{
    display: flex;
    flex-direction: column;
    border-right:2px solid rgb(194, 194, 196);
}

.section-headings > button
{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #14397C;
    background-color: #CBCBCB;
    /* cursor: pointer; */
    border-bottom: 2px solid rgb(194, 194, 196);
    /* padding: 10px;
    gap: 10px; */
    border-top: none;
    border-left: none;
    border-right: none;
    position: relative;
    /* border: 2px solid red */
    /* border-radius: 30px; */
    
}
.section-headings > button:nth-child(1)
{
    border-radius: 56px 0px 0px 0px;
    /* border: 2px solid red */

}
/* .section-headings > button:hover {
   
    background-color: rgba(0, 0, 0, 0.2);
}   */


.section-headings > button:nth-child(1) > img, 
.section-headings > button:nth-child(2) > img,
.section-headings > button:nth-child(3) > .fa-lock
{
    position: absolute;
    left: 40px;
    /* border: 2px solid blue; */

}

.section-headings h1{
    display: flex;
    align-items: center;
    height: 100px;
    font-family: myFont;
    letter-spacing: 2px;
    font-size: 25px;
    color: #33518F;
    padding-left: 15px;
    padding-top: 5px;

    /* position: absolute; */
    /* left: 30px; */
    /* text-shadow: 0px 4px 4px rgba(49, 80, 142, 0.50); */
}

.section-headings h2{
    display: flex;
    align-items: center;
    height: 100px;
    font-family: myFont;
    letter-spacing: 2px;
    font-size: 25px;
    color: #33518F;
    padding-left: 55px;
    padding-top: 10px;
    /* position: absolute; */
    /* left: 30px; */
    /* text-shadow: 0px 4px 4px rgba(49, 80, 142, 0.50); */
}

.settings-container > div:nth-child(2) > form
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 30% 57% 11%;
    gap: 1%;
}

.settings-container > div:nth-child(2) > form > div:nth-child(1){

    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    /* border: 2px solid rgb(7, 3, 228); */

}

/* .fa-camera
{
    position: relative;
    bottom: 4%;
} */
.settings-container > div:nth-child(2) > form > div:nth-child(2) 
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0A377E;
    /* border: 2px solid rgb(7, 3, 228); */

    gap: 30px;

    /* border: 2px solid blue; */
    
}

.settings-container > div:nth-child(2) > form > div:nth-child(3)
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* border: 2px solid blue; */
}

.settings-container > div:nth-child(2) > form >  div:nth-child(2) > div
{
    display: flex;
    color: #0A377E;
    flex-direction: column;
    gap: 5px;

    /* border: 2px solid green; */
    /* position: relative; */
}

.settings-container form input,
.settings-container form  select

{
    width: 250px;
    height: 40px;
    border-radius: 12px;
    border: none;
    /* border: 2px solid green; */

    padding: 0px 0px 0px 10px;
    color: #9c9a9a;
    background-color: #e9e6e6; 
}
.settings-container form  small
{
    width: 250px;
}

.settings-container > div:nth-child(2) > form > div:nth-child(3) > button
{
    background-color: #D44444;
    color: #FFEEBF;
    /* cursor: pointer; */
    width: 120px;
    height: 40px;
    border-radius: 12px;
    border: none;
    /* border: 2px solid green;
    display: flex;
    align-items: center; */

    /* position: relative; */
    /* right: 35%; */
}

/* input[type=text]
{
    padding: 0px 0px 0px 10px;
    color: #9c9a9a;
} */

label
{
    padding: 0px 0px 0px 5px;
    font-size: 19px;
}

.profile-pic
{
    width: 180px;
    height: 180px;
    border-radius: 50%;

    /* position: relative; */
    /* right: 25%; */
    /* border: 2px solid green; */
}

/*-------------------------------------- blocked friends -------------------------------*/



.blocked-friends-container
{
    display: grid;
    grid-template-rows: repeat(5, 10%);
    /* border: 2px solid red; */
    
}

.user-profile-pic
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.profile-item
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    /* border: 2px solid  rgb(255, 0, 0); */

}
/* .profile-item div:nth-child(2) h1 {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 2px solid  rgb(255, 0, 0);

} */


.blocked-friends-container h1{
    display: flex;
    align-items: center;
    font-family: myFont;
    letter-spacing: 2px;
    font-size: 19px;
    color: #33518F;
    /* text-shadow: 0px 4px 4px rgba(49, 80, 142, 0.50); */
}

.blocked-friends-container h2{
    display: flex;
    align-items: center;
    font-family: myFont;
    letter-spacing: 2px;
    font-size: 15px;
    color: #9c9a9a;
    padding-top: 5px;


    /* position: absolute; */
    /* left: 30px; */
    /* text-shadow: 0px 4px 4px rgba(49, 80, 142, 0.50); */
}

.search-friend
{
    width: 340px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 120px; */
    cursor: pointer;
    border-radius: 27px;
    background: #BDBDBE;
    padding: 16px;
    margin-left: 37%;
    margin-top: 20px;
    /* box-shadow: 0 2px 2px rgba(52, 81, 143, 33); */
    transition: box-shadow 0.5s;
    
}

.search-friend input{
    font-size: 16px;
    font-family: 'Josefin Sans';
    color: #ffffff;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
}

.search-friend input::placeholder{
    color: #33518F;
    font-size: 14px;
}

/************************************** security container ****************************************/

.security-settings-ctn
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px; 
    /* border: 2px solid  rgb(255, 0, 0); */


}
.secure-auth-card
{
    width:600px;
    height:450px;
    background-color: #D9D9D9;
    border-radius: 20px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center; 
    flex-direction: column;
}

.auth-password-card
{
    width:600px;
    height:260px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    background-color: #D9D9D9;
    border-radius: 20px;
    
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}
.auth-password-card input {

    width: 250px;
        height: 40px;
        border-radius: 12px;
        border: none;
        /* border: 2px solid green; */
    
        padding: 0px 0px 0px 10px;
        color: #9c9a9a;
        background-color: #e9e6e6; 
}