@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#content
{
    padding: 0;
    background-color:#161C40;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.twoFactor{
    text-align: center;
    width: 600px;
    height: 400px;

   
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    border: none;
}
 
.twoFactor .title
{
    color: #FFEEBF;
    font-family: 'Lemon',serif;
    font-size: 40px;
    top: 50px;
    margin-top: 25px;
    padding-bottom: 50px;
}
/* .inputCode h4{
    background-color: #161C40;
    color: white;
    font-size: 15px;
    text-indent: 0;
    /* margin-left: 20px; */
/* }  */
.twoFactorForm
{
    width: 100%;
    height: auto;           
    padding: 50px;     
}

.twoFactorForm input
{
   margin-bottom: 30px;
   
   color: black;

}
.twoFactorForm input:focus
{
   margin-bottom: 30px;
   border: none;
   /* color: black; */

}

.twoFactor form   #code
{
    width: 75%;
    height: 50px;
    border: none;
    border-radius: 10PX;
    padding-left: 30px;
}

.twoFactor form   #code::placeholder
{
    color: grey;
    font-size: 15px;
  
}
.twoFactor form   #submit
{
    width: 30%;
    height: 40px;
    font-family: myFont;
    background-color: #FFEEBF;
    border: none;
    border-radius: 20px;
    color: #161C40;

}



.notification-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    width: auto;
  }
  
.error-notification {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: slide-in 0.3s ease-out;
  }
  
.error-message {
    flex-grow: 1;

  }


  @keyframes slide-in {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }


