.tournament-content{
    padding: 8px;
    background-color: rgba(217, 217, 217, 0.05);
    border-radius: 56px;
    cursor: alias;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* border: 1px solid rgb(234, 1, 255); */
}

.tournament-content h1{
    font-family: myFont;
    font-size: 50px;
    color: #FFEEBF;
    letter-spacing: 5px;
    margin-bottom: 50px;
    /* border: 1px solid rgb(255, 1, 1); */
}
