
/* --------------------game-wait-content------------------ */

.game-wait-content{
    display: grid;
    grid-template-rows: 35% 65%;
    padding: 8px;
    border-radius: 56px;
    background-color: rgba(217, 217, 217, 0.05);
    cursor: alias;
    height: 100%;
    /* row-gap: 0.2em; */
    /* border: 1px solid rgb(234, 1, 255); */
}

.game-wait-content h1{
    font-family: myFont;
    font-size: 40px;
    font-weight: bold;
    color: #FFEEBF;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 5px;
    padding-top: 100px;
    /* margin-bottom: 10px; */
    /* margin-left: 5px; */

    /* border: 1px solid rgb(255, 1, 1); */
}

.game-wait-content .players{
    display: grid;
    grid-template-columns: 37.7% 25% 37.7%;
    padding-bottom: 100px;
    margin-bottom: 100px;
    /* border: 1px solid rgb(1, 238, 255); */

}

.game-wait-content .players .user{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    /* border: 1px solid rgb(255, 1, 1); */

}

.game-wait-content .players .opponent
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    /* border: 1px solid rgb(255, 1, 1); */
}

.game-wait-content .players .user img,
.game-wait-content .players .opponent img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* border: 1px solid rgb(255, 1, 1); */

}

.game-wait-content .players .user h2{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: myFont;
    font-size: 20px;
    color: #989797;
    letter-spacing: 5px;
    /* border: 1px solid rgb(255, 1, 1); */

}


.game-wait-content .players .opponent h2{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: myFont;
    font-size: 20px;
    color: #989797;
    letter-spacing: 5px;
    /* border: 1px solid rgb(255, 1, 1); */

}


.game-wait-content .players .vs{
    display: flex;
    justify-content: center;
    align-items: center;

}

.game-wait-content .players .vs img{
    height: 113px;
    width: 113px;
}
