*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family: myFont;
}

@font-face {
    font-family: hFont;
    src: url(Playground.ttf);
}

@font-face {
    font-family: myFont;
    src: url(Season\ Prime.otf);
}

body{
    background: #161C40;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 8% 90%;
    /* border: 1px solid red; */
}

header{
    padding: 6px 25px;
    /* border: 1px solid yellow; */
}

nav{
    display: flex;
    align-items: center;
}

/* --------logo-------------- */

.logo{
    width: 80px;
    height: 50px;
    cursor: pointer;
    transition: filter 0.3s ease;
    padding-left: 2px;
    /* border: 1px solid green; */
}

.logo:hover{
    width: 87px;
    height: 57px;
    filter: blur(0.5px);
    transition: 0.5s;
}

.logo:active{
    width: 80px;
    height: 57px;
}

/* ------------search------------ */

.search{
    width: 340px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    cursor: pointer;
    border-radius: 27px;
    background: #135B8B;
    padding: 16px;
    box-shadow: 0 2px 2px rgba(52, 81, 143, 33);
    transition: box-shadow 0.5s;
    filter: blur(0.5px);
}

.search:focus-within{
    box-shadow: 0 0 2px #5293CB;
}

.search input{
    font-size: 16px;
    font-family: 'Josefin Sans';
    color: #ffffff;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
}

.search input::placeholder{
    color: #5293CB;
    font-size: 14px;
}

/* --------notif-setting-logout------------ */

.left-side{
    width: 100%;
    height: 49px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
    /* border: 1px solid yellow; */
}

i{
    color: #5293CB;
    cursor: pointer;
    font-size: 24px;
    transition: color 0.4s ease, filter 0.4s ease;
}

.container{
    height: auto;
    display: grid;
    grid-template-columns: 7% 84% 7% ;
    column-gap: 1em;
    /* border: 1px solid green; */
}

.side-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    /* border: 1px solid rgb(0, 255, 238); */
}



.friends{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(234, 1, 255); */
}

/* -----------Icons------------------ */

i{
    color: #5293CB;
    cursor: pointer;
    font-size: 24px;
    transition: color 0.4s ease, filter 0.4s ease;
}

i:hover{
    color: #F45250;
    font-size: 30px;
    filter: blur(0.5px);
    transition: 0.5s;
} 

.icon.clicked{
    color: #F45250;
    font-size: 30px;
    filter: blur(0.75px);
}

/*--------------------------profile card----------------------------*/

.profile-content
{
    position: relative; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(2, 1fr);
    border-radius: 56px;    
}

.profile-info
{
    
    grid-row: span 2;
    grid-column: span 3;
    /* border: 1px solid #4db53c; */
    position: relative;
    border-radius: 56px;
    background: rgba(255, 255, 255, 0.2);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(2, 1fr);
    padding: 20px;
    row-gap: 30px;
    column-gap: 20px;


}

.profile-info > div
{
    border-radius: 30px;
    background-color: #FFEEBF;
}

.infos
{
    grid-column: span 3;
    display: grid;
    padding: 30px;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    /* border: 2px solid gold; */
}

.infos-user-container
{
    border: 2px solid rgba(95, 114, 125, 0.08);
    background-color: rgba(95, 114, 125, 0.08);
    border-radius: 30px;
}

.wining-rate-container
{
    display: grid;
    background-color: rgba(95, 114, 125, 0.08);
    border-radius: 30px;
    /* border: 3px solid black; */
    border: 2px solid rgba(95, 114, 125, 0.08);
}

.wining-rate-item
{
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: repeat(2, 1fr);
    /* border: 3px solid green; */
}

.title
{
    /* border: 1px solid black; */
    display: flex;
    grid-column: span 2;
    color: #14397C;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 20px;    
}

h1{
    /* border: 2px solid black; */
    font-size: x-large;
}

.circle
{
    border-radius: 6px;
    display:grid;
    align-items: center;
    justify-content: center;
    position: relative;
      /* border: 1px solid black; */
}

.circle svg
{
    position: relative;
    left: 55px;
    top: 25px;
}

.buttons
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     /* border: 1px solid black; */
    column-gap: 15px;
    row-gap: 8px;
}

.win-button , .lose-button, .draw-button
{
    /* border: 1px solid black; */
    text-align: center;
    background-color: #CBCBCB;
    border-radius: 8px;
    width: 125px;
    height: 50px;
    font-family: myFont;
    border: none;
    font-weight: bold;
    font-size: 20px;
    font-family: David Libre;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    
}


.win-button
{
    color: #0AA989;
}

.lose-button
{
    color: #D44444;
}

.draw-button
{
    color: #0B42AF;
}

.win-button:hover, .lose-button:hover, .draw-button:hover
{
    background-color: #ddd;
}

/*--------------------------------match history card----------------------*/
.match-history-container
{
    border: 2px solid black;
    display: grid;
    grid-template-columns:repeat(2, 50%);
    grid-template-rows: 16.67% 66.68% 16.67%;
    align-items: center;
    position: relative;
}
.title-item , .view-all-link
{
    color: #14397C;
    /* border: 2px solid black; */
    grid-column: span 2;
    text-align: center;
}

.title-item
{
    position: relative;
    top: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.center-div{
    /* grid-row: span 4; */
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    /* border: 2px solid red; */
    position: relative;
    top: 18px;
}

.list-item
{
    display: grid;
    grid-column: span 2;
    grid-template-columns:repeat(3, 33.33%);
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    background-color: #CBCBCB;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    width: 282px;
    height: 57px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    /* border: 2px solid red; */
    
}

.profile-pic-elt{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */

}

.profile-pic-elt img
{
    width: 50px;
    height: 50px;
    border: 1px solid #CBCBCB;
    border-radius: 50%;
    /* border: 2px solid red; */
}

/*------------------------ freinds and requests--------------*/

.friends-and-requetes-container
{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    /* border: 2px solid red; */
    align-items: center;
    gap: 5px;
    padding: 25px;

}

.friends-and-req-items
{
    grid-column: span 2;
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 50% 50%;
     
}

.friends-and-req-items  button
{
    color: #14397C;
    border: none;
    border-radius: 10px;
    width: 240px;
    height: 40px;
    cursor: pointer;
    background-color:#FFEEBF ;

}

.list-freinds-item
{
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* border: 2px solid red; */
    align-items: center;
    text-align: center;
    color: #14397C;
    font-weight: bold;
}

.pic-and-span
{
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    text-align: center;
    /* border: 2px solid rgb(0, 26, 255); */
}


.view-all-link,.view-all-link-fr
{
    display: flex;
    grid-column: span 2;
    align-items: center;
    justify-content: center;
    border: 2px solid gold;
    flex-direction: column;
    margin-top: 10px;
}

/*-------------------------------- achienements -----------------------*/

.achievements-container
{
    display: grid;
    grid-template-rows: repeat(3, 33.33%);
    align-items: center;
    text-align: center;
    position: relative;
    gap: 10px;
    /* border: 2px solid rgb(0, 26, 255); */
}

.achievements-title-elt
{
    grid-column: span 2;
    /* border: 2px solid red; */
    position: relative;
    bottom: 15px;
}

.achievements-title-elt > h1
{
    color: #14397C;
}

.badges-container
{
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content:center ;
    gap: 70px;
    position: relative;
    bottom: 40px;
    /* border: 2px solid red; */
}

.badge-elt
{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    background-color: rgba(95, 114, 125, 0.08);
    display: grid;
    grid-template-rows: 20% 80%;
    justify-content: flex-start;
}
/*------------------------------------- profile -----------------*/

.infos-user-container
{
    display : grid;
    grid-column: span 2;
    grid-template-columns: 30% 70%;
    /* border: 2px solid green; */
    align-items: center;
    text-align: center;
    position: relative;
}

.infos-user-container > div > img
{
    /* border: 2px solid #CBCBCB; */
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
}

.infos-user-container > div:nth-child(2)
{
    display: grid;
    grid-template-rows: repeat(3, 50%);
    /* border: 2px solid green; */
    position: relative;

}
.infos-user-container > div:nth-child(2) >div:nth-child(1)
{
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    position: relative;
    bottom: 40px;
    color: #315084;
}

.infos-user-container > div:nth-child(2) > div:nth-child(2)
{
    border: 2px solid rgba(203, 203, 203, 33);
    display: grid;
    align-items: center;
    grid-template-columns: 60% 40%;
    justify-content: end;
    position: relative;
    bottom: 18px;
    color: #315084;
    background-color: rgba(203, 203, 203, 33);
    width: 140px;
    height: 32px;
    border-radius: 30px;
    /* border: 2px solid green; */
}

.infos-user-container > div:nth-child(2) > div:nth-child(3)
{
    color: #5293CB;
    display: flex;
    flex-grow: 50% 50%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; 
    /* border: 2px solid green; */
    position: relati    <script src="profile.js" ></script>
    ve;
    bottom: 20px;
}
.infos-user-container > div:nth-child(2) > div:nth-child(3) > div:nth-child(1)
{
    color: #5293CB;
    position: relative;
    /* border: 2px solid green; */
    left: 390px;
}
  


.infos-user-container > div:nth-child(2) > div:nth-child(4)
{
    /* border: 2px solid green; */
    display: flex;
    width: 438px;
    height: 30px;
    position: relative;
    color: #5293CB;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    bottom: 20px;
    background-color:  rgba(203, 203, 203, 33);
    border-radius: 0px 0px 20px 20px;

}
.fa-camera
{
     /* border: 2px solid green; */
     position: relative;
     right: 50px;
     bottom: 10px;
}

/*-------------------------------*/

.circular-progress {
    --size: 200px;
    --half-size: calc(var(--size) / 2);
    --stroke-width: 10px;
    --radius: calc((var(--size) - var(--stroke-width)) / 2);
    --circumference: calc(var(--radius) * pi * 2);
    --dash: calc((var(--progress) * var(--circumference)) / 100);
  }
  
  .circular-progress circle {
    cx: var(--half-size);
    cy: var(--half-size);
    r: var(--radius);
    stroke-width: var(--stroke-width);
    fill: none;
    stroke-linecap: round;
  }
  
  .circular-progress circle.bg {
    stroke: #ddd;
  }
  
  .circular-progress circle.fg {
    transform: rotate(-90deg);
    transform-origin: var(--half-size) var(--half-size);
    stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
    transition: stroke-dasharray 0.3s linear 0s;
    stroke: #0AA989;
  }




/* -----------FRIENDS-SCOP------------- */


.friends-scop
{
    position: absolute;
    top: 9%;
    right: 21.7%;
    width: 920px;
    height: 720px;
    background-color: rgba(22,28,64,0.8);
    backdrop-filter: blur(1px);
    border-radius:30px ;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    border: none;
    z-index: 1;
    display: none;
}

.friends-scop .search{
    margin-top: 15px;
    margin-left: 30%;
}
.friends-list{
    background-color: #D0D2D9;
    margin: 20px 70px 0px 70px;
    height: 600px;
    padding-bottom: 5px;
    overflow-y: scroll;
    overflow-x: none;
}

.friend-info{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    background-color: #CBCBCB;
    height: 70px;
    margin: 5px 10px 0 10px;
}

.friend-info p{
    font-size: 17px;
    font-family: myFont;
    margin-left: -60px;
    color: #14397C;
}

.friend-info img {
    margin-left: 10px;
    width: 60px;
    height: auto;
    border-radius:30px;
}

.friend-info a{
    text-decoration: none;
}

.friend-info i
{
    font-size: 30px;
    margin-left:  400px;
}

/* ------close-icon------- */

.friends-scop .close-icon{
    display: inline;
    position: relative;
    left: 880px;
    bottom: 30px;
}

.friends-scop .close-icon a {
    text-decoration: none;
}
/* ---custom scrool bar-- */

::-webkit-scrollbar{
    width: 12px ;
}
::-webkit-scrollbar-track{
    background:#D0D2D9;
}
::-webkit-scrollbar-thumb{
    background: #F45250;
    border-radius: 10px;
}

