*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family: myFont;
}

@font-face {
    font-family: hFont;
    src: url(Playground.ttf);
}

@font-face {
    font-family: myFont;
    src: url(Season\ Prime.otf);
}

body{
    background: #161C40;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 8% 90%;
    /* border: 1px solid red; */
}

header{
    padding: 6px 25px;
    /* border: 1px solid yellow; */
}

nav{
    display: flex;
    align-items: center;
}

/* --------logo-------------- */

.logo{
    width: 80px;
    height: 50px;
    cursor: pointer;
    transition: filter 0.3s ease;
    padding-left: 2px;
    /* border: 1px solid green; */
}

.logo:hover{
    width: 87px;
    height: 57px;
    filter: blur(0.5px);
    transition: 0.5s;
}

.logo:active{
    width: 80px;
    height: 57px;
}

/* ------------search------------ */

.search{
    width: 340px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    cursor: pointer;
    border-radius: 27px;
    background: #135B8B;
    padding: 16px;
    box-shadow: 0 2px 2px rgba(52, 81, 143, 33);
    transition: box-shadow 0.5s;
    filter: blur(0.5px);
}

.search:focus-within{
    box-shadow: 0 0 2px #5293CB;
}

.search input{
    font-size: 16px;
    font-family: 'Josefin Sans';
    color: #ffffff;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
}

.search input::placeholder{
    color: #5293CB;
    font-size: 14px;
}

/* --------notif-setting-logout------------ */

.left-side{
    width: 100%;
    height: 49px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
    /* border: 1px solid yellow; */
}

i{
    color: #5293CB;
    cursor: pointer;
    font-size: 24px;
    transition: color 0.4s ease, filter 0.4s ease;
}

.container{
    height: auto;
    display: grid;
    grid-template-columns: 7% 84% 7% ;
    column-gap: 1em;
    /* border: 1px solid green; */
}

.side-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    /* border: 1px solid rgb(0, 255, 238); */
}



.friends{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(234, 1, 255); */
}

/* -----------Icons------------------ */

i{
    color: #5293CB;
    cursor: pointer;
    font-size: 24px;
    transition: color 0.4s ease, filter 0.4s ease;
}

i:hover{
    color: #F45250;
    font-size: 30px;
    filter: blur(0.5px);
    transition: 0.5s;
} 

.icon.clicked{
    color: #F45250;
    font-size: 30px;
    filter: blur(0.75px);
}

/*--------------------------profile card----------------------------*/

.profile-content
{
    background-color: rgba(217, 217, 217, 0.05);
    border-radius: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid yellow; */
    
}

.profile-info
{
    width: 95%;
    height: 93%;
    display: grid;
    grid-template-columns: 32.33% 32.33% 32.33%;
    grid-template-rows:repeat(2, 48.5%);
    column-gap: 1.5%;
    row-gap: 3%;
    border-radius: 50px;
    border: 1px solid rgb(255, 0, 0);

}

.profile-info > div
{
    border-radius: 50px;
    background-color: #FFEEBF;
    /* border: 2px solid rgb(234, 0, 255); */

}

.infos
{
    display: flex;
    grid-column: span 3;
    padding: 10px;
    gap: 10px;
    border: 2px solid red;
}

.infos-user-container
{
    grid-column: span 2;
    border: 2px solid rgba(95, 114, 125, 0.08);
    background-color: rgba(95, 114, 125, 0.08);
    border-radius: 50px;
    /* border: 2px solid gold; */

}

.wining-rate-container
{
    display: grid;
    background-color: rgba(95, 114, 125, 0.08);
    border: 2px solid rgba(95, 114, 125, 0.08);

    border-radius: 30px;
    /* grid-template-rows: 20% 80%; */
    /* border: 3px solid red; */
    /* border: 2px solid rgba(95, 114, 125, 0.08); */
    /* grid-template-columns: repeat(2, 50%); */
    /* grid-template-rows: 20% 80%; */
}

/* .wining-rate-item
{ */
    /* display: grid; */
    /* grid-template-rows: 20% 80%;
    grid-template-columns: repeat(2, 50%); */
    /* border: 3px solid green; */
/* } */

.title
{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    grid-column: span 2;
    color: #14397C;
    align-items: center;
    justify-content: flex-end;
    /* padding-top: 70px; */
    /* position: relative; */
    /* top: 20px;     */
}

h1{
    /* border: 2px solid black; */
    /* font-size: x-large; */
    letter-spacing: 2px;
    font-size: 25px;
}

.circle
{
    border-radius: 6px;
    display:flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    /* border: 1px solid black; */
    /* padding-left: 12px; */
}

.buttons
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* border: 1px solid black; */
    column-gap: 15px;
    row-gap: 5px;
    /* padding-left: 50px; */
}

.wining-rate-item
{
    display: flex;
    grid-column: span 2;
    border: 1px solid black;
    align-items: center;
    justify-content: center;

}

.win-button , .lose-button, .draw-button
{
    /* border: 2px solid black; */
    text-align: center;
    background-color: #CBCBCB;
    border-radius: 8px;
    width: 120px;
    height: 45px;
    font-family: myFont;
    border: none;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    letter-spacing: 2px;
    font-size: 16px;
    
}


.win-button
{
    color: #0AA989;
}

.lose-button
{
    color: #D44444;
}

.draw-button
{
    color: #0B42AF;
}

.win-button:hover, .lose-button:hover, .draw-button:hover
{
    background-color: #ddd;
}

/*--------------------------------match history card----------------------*/
.match-history-container
{
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns:repeat(2, 50%);
    grid-template-rows: 16.67% 66.68% 16.67%;
    align-items: center;
    position: relative;
}

.title-item , .view-all-link
{
    color: #14397C;
    grid-column: span 2;
    text-align: center;
    /* border: 2px solid black; */
}

.title-item
{
    position: relative;
    top: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.center-div{
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    /* border: 2px solid red; */
    position: relative;
    top: 18px;
}

.match-result-item
{
    display: grid;
    grid-column: span 2;
    grid-template-columns:repeat(3, 33.33%);
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    background-color: #CBCBCB;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    width: 282px;
    height: 57px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    /* border: 2px solid red; */
    
}

.picture-item{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */

}

.picture-item img
{
    width: 50px;
    height: 50px;
    border: 1px solid #CBCBCB;
    border-radius: 50%;
    color: #14397C;
    letter-spacing: 2px;
    font-size: 25px;
    /* border: 2px solid red; */
}

/*------------------------ freinds and requests--------------*/

.friends-and-requetes-container
{
    display: grid;
    grid-template-rows: 20% 70% 10%;
    border: 2px solid red;
}

.friends-and-req-buttons
{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    /* border: 2px solid green; */
    
}

.friends-and-req-buttons > div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* display: none; */
    /* border: 2px solid rgb(255, 230, 3); */
}

.friends-and-req-buttons > div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
}

.friends-and-req-buttons > div:nth-child(3){
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.friends-button
{
    color: #14397C;
    border: none;
    border-radius: 50px;
    width: 80%;
    height: 60%;
    /* border: 2px solid rgb(255, 230, 3); */

    background-color:#FFEEBF ;

}

.request-button{
    color: #14397C;
    border: none;
    border-radius: 50px;
    width: 80%;
    height: 60%;
    cursor: pointer;
    /* border: 2px solid rgb(255, 230, 3); */

    background-color:#FFEEBF ;
}

.pending-button{
    color: #14397C;
    border: none;
    border-radius: 50px;
    width: 80%;
    height: 60%;
    cursor: pointer;
    /* border: 2px solid rgb(255, 230, 3); */

    background-color:#FFEEBF ;
}

.friends-scope-item
{
    display: grid;
    grid-auto-rows: 20%;
    row-gap: 6%;
    padding-top: 10px;
    /* border: 2px solid rgb(1, 47, 255); */
}


.friend-item, .request-item
{
    display: grid;
    grid-template-columns: 36% 30% 35%;
    column-gap: 1%;
    color: #14397C;
    /* border: 2px solid rgb(1, 255, 255); */

}

.friend-item .picture-item
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 2px solid rgb(0, 255, 76); */

}

.data-user
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* border: 2px solid rgb(255, 1, 1); */

}

.friend-item .chat-icon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 2px solid rgb(0, 255, 76); */

}

.view-all-match,.view-all-link-fr
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid rgb(255, 208, 0); */
}

.view-all-link-fr a{
    text-decoration: none;
    color: #14397C;

}

.view-all-link-fr a:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s;
}

.view-all-link-fr a:active{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s;
}

.requestes-items
{
    display:none;
    /* display: grid; */
    grid-row: span 5;
    grid-column: span 2;
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    /* padding: 25px;
     border: 2px solid red; */

}

/*-------------------------------- achienements -----------------------*/

.achievements-container
{
    display: grid;
    grid-template-rows: repeat(3, 31.33%);
    align-items: center;
    text-align: center;
    gap: 6%;
    /* border: 2px solid rgb(0, 26, 255); */
}

.achievements-title-elt
{
    grid-column: span 2;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 75px;
    /* border: 2px solid red; */
}

.achievements-title-elt > h1
{
    color: #14397C;
    letter-spacing: 2px;
    font-size: 25px;
}

.badges-container
{
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content:center ;
    gap: 70px;
    position: relative;
    bottom: 60px;
    /* border: 2px solid red; */
}

.badge-item
{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    background-color: rgba(95, 114, 125, 0.08);
    display: grid;
    grid-template-rows: 20% 80%;
    justify-content: flex-start;
    /* border: 2px solid red; */

}
/*------------------------------------- profile -----------------*/

.infos-user-container
{
    display : flex;

    padding-left: 15px;
    padding-right:15px;
    gap: 15px;
}

.infos-user-container > div:nth-child(1)
{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-grow: 1;
    padding-top: 23px;
}

.infos-user-container > div > img
{
    border: 2px solid #CBCBCB;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.infos-user-container > div:nth-child(2)
{
    display: flex;
    /* border: 2px solid blueviolet; */
    flex-direction: column;
    justify-content: center;
}

.infos-user-container > div:nth-child(2) > div:nth-child(1)
{
    /* border: 2px solid gold; */
    color: #315084;
}


.infos-user-container > div:nth-child(2) > div:nth-child(2)
{
   
    padding-bottom: 5px;
    margin-top: 15px;
    /* border: 2px solid red; */

    
}

.infos-user-container > div:nth-child(2) > div:nth-child(2) input
{
   
    border: 2px solid rgba(203, 203, 203, 33);
    color: #315084;
    background-color: rgba(203, 203, 203, 33);
    width: 110px;
    height: 28px;
    border-radius: 30px;
    padding-left: 10px;
    background: url("images/pencil.png")  no-repeat right;
}


.infos-user-container > div:nth-child(2) > div:nth-child(3)
{
    display: flex;
    /* border: 2px solid green; */
    flex-direction: column;
    padding-top: 20px;
    gap: 20px;
}

.infos-user-container > div:nth-child(2) > div:nth-child(3) >div:nth-child(1)
{
    color: #5293CB;
    /* border: 2px solid yellow; */
}

.infos-user-container > div:nth-child(2) > div:nth-child(3) > div:nth-child(1) > span:nth-child(1)
{
    display: flex;
    justify-content: flex-end;
    /* border: 2px solid red; */
    padding-right: 53px;
}


.infos-user-container > div:nth-child(2) > div:nth-child(3) > div:nth-child(2) 
{
    color: #5293CB;
    display: flex;
    align-items: center;
    /* border: 2px solid greenyellow; */
    width: 600px;
    height: 30px;
    background-color:  rgba(203, 203, 203, 33);
    border-radius: 0px 0px 20px 20px;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;

}

.fa-camera
{
     /* border: 2px solid red; */
     position: relative;
     /* right: 10px; */
     bottom: 30px;
     left: 54px;
}

.achievement-item
{
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* border: 2px solid red; */
    position: relative;


}
.achievement-item img
{
    position: absolute;
    /* left: 0; */
    right: 40px;
    bottom: 2.5px;
    width: 18px;
    height: 18px;
}

progress
{
    -webkit-appearance: none;
    height: 10px;
    width: 100%;
    position: relative;
    bottom: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

progress::-webkit-progress-value {
    background-color: #236647; 
    border-radius: 20px;
}

progress::-webkit-progress-bar {
    background-color: #e0e0e0; /* Background color of the progress bar */
    border-radius: 20px;
}

/*-------------------------------*/

.circular-progress {
    --size: 200px;
    --half-size: calc(var(--size) / 2);
    --stroke-width: 10px;
    --radius: calc((var(--size) - var(--stroke-width)) / 2);
    --circumference: calc(var(--radius) * pi * 2);
    --dash: calc((var(--progress) * var(--circumference)) / 100);
  }
  
  .circular-progress circle {
    cx: var(--half-size);
    cy: var(--half-size);
    r: var(--radius);
    stroke-width: var(--stroke-width);
    fill: none;
    stroke-linecap: round;
  }
  
  .circular-progress circle.bg {
    stroke: #ddd;
  }
  
  .circular-progress circle.fg {
    transform: rotate(-90deg);
    transform-origin: var(--half-size) var(--half-size);
    stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
    transition: stroke-dasharray 0.3s linear 0s;
    stroke: #0AA989;
  }




/* -----------FRIENDS-SCOP------------- */


.friends-scop
{
    position: absolute;
    top: 10%;
    right: 26.5%;
    width: 920px;
    height: 720px;
    background-color: rgba(22,28,64,0.8);
    backdrop-filter: blur(1px);
    border-radius:30px ;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    border: none;
    z-index: 1;
    display: none;
}

.friends-scop .search{
    text-align: center;
    margin: auto;
}

.friends-scop .header{
    padding-top: 33px;
    display: grid;
    grid-template-columns: 90% 10%;
}
.friends-scop .close-icon{
    margin: auto;
}
.friends-list{
    background-color: #D0D2D9;
    margin: 30px 70px 0px 70px;
    height: 590px;
    width: 770px;
    border-radius: 10px;
    padding-bottom: 5px;
    overflow-y: scroll;
    overflow-x: none;
}

.friend-info{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    background-color: #CBCBCB;
    height: 60px;
    margin: 5px 5px 0 5px;
}

.friend-info p{
    font-size: 17px;
    font-family: myFont;
    margin-left: -60px;
    color: #14397C;
}
.friends-scop .search,
.view-all-match-history .search
{
    background-color: #BDBDBE;
}
.friend-info img {
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius:50px;
}

.friend-info a{
    text-decoration: none;
}

.friend-info i
{
    font-size: 30px;
    margin-left:  400px;
}

/* ------close-icon------- */

.friends-scop .close-icon{
    margin: auto;
    /* display: inline; */
    /* position: relative;
    left: 880px;
    bottom: 30px; */
}

.friends-scop .close-icon a {
    text-decoration: none;
}
/* ---custom scrool bar-- */

::-webkit-scrollbar{
    width: 12px ;
}
::-webkit-scrollbar-track{
    background:#D0D2D9;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: #F45250;
    border-radius: 10px;
}


/*----------------View-all-match-history-------------------------*/

.view-all-match-history{
    grid-template-rows: 13.5% 86.5%;
     position: absolute;
    top: 10%;
    right: 26.5%;
    width: 920px;
    height: 720px;
    background-color: rgba(22,28,64,0.8);
    backdrop-filter: blur(1px); 
    border-radius: 30px ;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    border: none;
    display: none;    
}


.view-all-match-history .header{
    grid-template-columns: 90% 10%;
    display: grid;

}

.view-all-match-history .search{
    text-align: center;
    margin: auto;

}

.view-all-match-history .close-icon{
    margin: auto;
}

.view-all-match-history .content{
    background-color: #CBCBCB;
    grid-template-rows: repeat(8, 12.5%);
    display: grid;
    justify-self: center;
    padding: 5px; 
    width: 85%;
    height: 95%;
    border-radius: 10px;
    overflow-y:scroll;
    overflow-x: none;
}

.view-all-match-history .content .match-info{
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    border-radius: 10px;
    grid-template-columns: 51% 49%;
    display: grid;
    align-items: center;
    padding: 5px;
}

.view-all-match-history .content .match-info .left{
    display: grid;
    grid-template-columns: 15% 80% 5%;
    padding-left: 15px;
  
}

.view-all-match-history .content .match-info .right{
    display: flex;
    justify-content: end;
    padding-right: 10px;
    padding-left: 0px;
}

.view-all-match-history .content .match-info .avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;

}

.view-all-match-history .content .match-info .left .score{
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    font-family: myFont;
    color: #0AA989;
}
 
.separator{
    color: #14397C;
    margin: auto;  
    font-size: 20px;
    font-weight: bold;  
}

.view-all-match-history .content .match-info .right{
    grid-template-columns: 85% 15%;
    display: grid;
    padding-left: 5px;


}

.view-all-match-history .content .match-info .right .score{
    align-content: center;    
    font-size: 20px;
    font-weight: bold;
    font-family: myFont;
    color: #D44444;
}
