*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@font-face {
    font-family: myFont;
    src: url(Season\ Prime.otf);
}

@font-face {
    font-family: hFont;
    src: url(Playground.ttf);
}

body{
    background: #161C40;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 8% 90%;
    /* border: 1px solid red; */
}

header{
    padding: 6px 25px;
    /* border: 1px solid yellow; */
}

nav{
    display: flex;
    align-items: center;
}

/* --------logo-------------- */

.logo{
    width: 80px;
    height: 50px;
    cursor: pointer;
    transition: filter 0.3s ease;
    padding-left: 2px;
    /* border: 1px solid green; */
}

.logo:hover{
    width: 87px;
    height: 57px;
    filter: blur(0.5px);
    transition: 0.5s;
}

.logo:active{
    width: 80px;
    height: 57px;
}

/* ------------search------------ */

.search{
    width: 340px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    cursor: pointer;
    border-radius: 27px;
    background: #135B8B;
    padding: 16px;
    box-shadow: 0 2px 2px rgba(52, 81, 143, 33);
    transition: box-shadow 0.5s;
    filter: blur(0.5px);
}

.search:focus-within{
    box-shadow: 0 0 2px #5293CB;
}

.search input{
    font-size: 16px;
    font-family: 'Josefin Sans';
    color: #ffffff;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
}

.search input::placeholder{
    color: #5293CB;
    font-size: 14px;
}

/* --------notif-setting-logout------------ */

.left-side{
    width: 100%;
    height: 49px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
    /* border: 1px solid yellow; */
}

i{
    color: #5293CB;
    cursor: pointer;
    font-size: 24px;
    transition: color 0.4s ease, filter 0.4s ease;
}

.container{
    height: auto;
    display: grid;
    grid-template-columns: 7% 84% 7% ;
    column-gap: 1em;
    /* border: 1px solid green; */
}

.side-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    /* border: 1px solid rgb(0, 255, 238); */
}

.friends{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(234, 1, 255); */
}

/* -----------Icons------------------ */

i{
    color: #5293CB;
    cursor: pointer;
    font-size: 24px;
    transition: color 0.4s ease, filter 0.4s ease;
}

i:hover{
    color: #F45250;
    font-size: 30px;
    filter: blur(0.5px);
    transition: 0.5s;
} 

.icon.clicked{
    color: #F45250;
    font-size: 30px;
    filter: blur(0.75px);
}

/* --------------------home-Content------------------ */

.home-content{
    padding: 8px;
    background-color: rgba(217, 217, 217, 0.05);
    border-radius: 56px;
    display: grid;
    grid-template-rows: 50% 50%;
    /* row-gap: 0.2em; */
    /* border: 1px solid rgb(234, 1, 255); */
}

.home-top{
    padding: 15px;
    /* padding-right: 15px; */
    /* padding-top: 6px; */
    display: grid;
    grid-template-columns: 32.2% 65.8%;
    column-gap: 1.5em;
    /* border: 1px solid rgb(255, 1, 1); */
}

.leader-board{
    border-radius: 50px;
    background: #FFEEBF;

}

.welcoming-section{
    border-radius: 50px;
    background: #FFEEBF;
    /* display: grid;
    grid-template-columns: 60% 40%; */
    position: relative;
    /* border: 1px solid rgb(255, 251, 1); */
}

.welcoming-section .left-side{
    height: 60%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    /* border: 1px solid rgb(0, 0, 0); */
}

h4{
    height: 24px;
    font-family: myFont;
    letter-spacing: 2px;
    font-size: 40px;
    color: #33518F;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: blur(0.5px);
    text-shadow: 0px 4px 4px rgba(53, 84, 145, 0.43);

}

h5{
    height: 25px;
    font-family: myFont;
    letter-spacing: 2px;
    font-size: 50px;
    color: #D44444;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: blur(0.5px);
    text-shadow: 0px 4px 4px rgba(53, 84, 145, 0.43);
}

h6{
    height: 10px;
    font-family: myFont;
    letter-spacing: 2px;
    font-size: 15px;
    color: #33518F;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: blur(0.5px);
    text-shadow: 0px 4px 4px rgba(53, 84, 145, 0.43);
}

h7{
    height: 24px;
    font-family: myFont;
    letter-spacing: 2px;
    font-size: 40px;
    color: #33518F;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: blur(0.5px);
    text-shadow: 0px 4px 4px rgba(53, 84, 145, 0.43);
    padding-left: 40px;
}

.info{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 40%;
    height: 7%;
    background: #EAE0C2;
    border-radius: 20px;
    position: absolute;
    right: 49%;
    top: 270px;
    /* border: 1px solid rgb(255, 0, 0); */

}

.info .score img, .info .acheivement img{
    width: 15px;
    height: 15px;
}

.info .score h1, .rank h1{
    font-size: 16px;
    color: #5293CB;
    font-family: Oswald;
    filter: none;
    text-shadow: none;
}

.info .acheivement h1{
    font-size: 16px;
    font-family: Oswald;
    color: #FBCA35;
    filter: none;
    text-shadow: none;
}

.info .score span, .rank span{
    font-size: 16px;
    font-family: David Libre;
    color: #315084;
    filter: none;
    text-shadow: none;
}

.info .acheivement span{
    font-size: 16px;
    color: #FBCA35;
    filter: none;
    text-shadow: none;
}

.info .rank, .info .score, .info .acheivement{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 27%;
    /* border: 1px solid rgb(0, 0, 0); */

}

.girl{
    width: 430px;
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    left: 55%;
    top: 23px;
    /* border: 1px solid rgb(255, 1, 1); */
}

.home-down{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 8px;
    display: grid;
    grid-template-columns: 32.2% 32.2% 32.2%;
    column-gap: 1.5em;
    /* border: 1px solid rgb(255, 251, 1); */

}

.training-boot{
    border-radius: 50px;
    background: #FFEEBF;
    position: relative;
}

.paddles{
    width: 300px;
    height: 300px;
    transform: scaleX(-1);
    position: absolute;
    left: 5%;
    top: 15%;
    /* border: 1px solid rgb(1, 255, 192); */
}

h1{
    height: 100px;
    font-family: myFont;
    letter-spacing: 2px;
    font-size: 35px;
    color: #33518F;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: blur(0.5px);
    text-shadow: 0px 4px 4px rgba(49, 80, 142, 0.50);

    /* border: 1px solid rgb(255, 1, 1); */
}

.btn{
    display: inline-block;
    width: 160px;
    font-family: myFont;
    color: #D9DBBC;
    font-size: 24px;
    position: relative;
    left: 50%;
    top: 25%;
    background: #D44444;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 100px;
    letter-spacing: 3px;
    text-shadow: 0px 4px 4px rgba(232, 235, 68, 0.3);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(212, 68, 68, 0.29);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    /* border: 1px solid rgb(1, 225, 255); */
}

.btn:hover, .btn:focus, .btn:active{
    box-shadow: 0px 4px 4px rgba(212, 68, 68, 0.795);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* ------------Tournament------------- */

.tournament{
    border-radius: 50px;
    background: #FFEEBF;
}

.button{
    display: inline-block;
    width: 160px;
    font-family: myFont;
    color: #D9DBBC;
    font-size: 24px;
    position: relative;
    left: 35%;
    top: 1%;
    background: #D44444;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 100px;
    letter-spacing: 3px;
    text-shadow: 0px 4px 4px rgba(232, 235, 68, 0.3);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(212, 68, 68, 0.29);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.button:hover, .button:focus, .button:active{
    box-shadow: 0px 4px 4px rgba(212, 68, 68, 0.795);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.hierarchy{
    display: grid;
    justify-content: center;
    grid-template-columns: 15% 15% 25% 15% 15%;
    /* border: 1px solid rgb(255, 1, 1); */
}


/* -------------------col1---------------- */

.col1{
    display: grid;
    grid-template-rows: 40% 20% 40%;
    /* border: 1px solid rgb(26, 1, 255); */
}

.col1 .girl-div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    /* border: 1px solid #63fcf4; */
}

.col1 .vs1-div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    /* border: 1px solid #6372fc; */
}

.boy-div{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #63fcf4; */
}

.player1{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #fc6363;
}

.player3{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #fc6363;
}

/* ------------------trophy-div---------------- */

.trophy-div{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #6372fc; */
}

.trophy{
    width: 200px;
    height: 200px;
}

.girl-div{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #6372fc; */

}

.boy-div{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #6372fc; */
}

.player2{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #fc6363;
}

.player4{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #2888ED;
}

.vs{
    width: 30px;
    height: 30px;
}

/* -------------------col3--------------- */

.col3{
    display: grid;
    grid-template-rows: 40% 20% 40%;
    /* border: 1px solid rgb(26, 1, 255); */
}

.col3 .boy-div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    /* border: 1px solid #63fcf4; */
}

.col3 .vs2-div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    /* border: 1px solid #6372fc; */
}

.player6{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #2888ED;
}

.player5{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #2888ED;
}

/* ----------------playerVSplayer---------- */

.player-vs-player{
    border-radius: 50px;
    background: #FFEEBF;
}

.players{
    height: 50%;
    display: grid;
    grid-template-columns: 45% 10% 45%;
    /* border: 1px solid #fc6363; */
}

.play-girl{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #00e91f; */

}

.girlplay{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #fc6363;
}

.boy{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #2888ED;
}

.vs2{
    width: 90px;
    height: 90px;
}

.play{
    display: inline-block;
    width: 160px;
    font-family: myFont;
    color: #D9DBBC;
    font-size: 24px;
    position: relative;
    left: 35%;
    top: 0%;
    background: #D44444;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 100px;
    letter-spacing: 3px;
    text-shadow: 0px 4px 4px rgba(232, 235, 68, 0.3);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(212, 68, 68, 0.29);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.play:hover, .play:focus, .play:active{
    box-shadow: 0px 4px 4px rgba(212, 68, 68, 0.795);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* -----------------tournament-------------------- */

.leader-board{
    display: grid;
    grid-template-rows: 10% 10% 10% 10% 60%;

    /* border: 1px solid #fc6363; */
}

/* .winners{

} */

.coll1{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #fc6363; */
}

.crown{
    width: 100px;
    height: 60px;

}

.coll2{
    display: grid;
    grid-template-columns: 33% 33% 33%;

    /* border: 1px solid #00e759; */
}

.sec{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    /* border: 2px solid #000000; */
}

.happy{
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* border: 2px solid #000000; */
}

.three{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    
    /* border: 2px solid #000000; */
}

.second, .third{
    width: 40px;
    height: 40px;
}

.happy-woman{
    width: 60px;
    height: 60px;
}

.coll3{
    display: grid;
    grid-template-columns: 50% 50%;
    /* border: 2px solid #000000; */
}

.woman{
    padding-left: 40px;
    height: 44px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* border: 2px solid #ff0000; */

}

.man-div{
    padding-right: 48px;
    height: 44px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* border: 2px solid #ff0000; */
}

.woman-two, .man{
    width: 40px;
    height: 40px;
}

.coll4{
    padding-left: 60px;
    padding-right: 60px;
    display: grid;
    grid-template-columns: 20% 60% 20%;

    /* border: 2px solid #ff0000; */
}

.rank-div{
    display: flex;
    align-items: center;
    justify-content: center;

}

.user, .score-div{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    font-family: myFont;
    letter-spacing: 2px;
    font-size: 17px;
    color: #33518F;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: blur(0.5px);
    text-shadow: 0px 4px 4px rgba(49, 80, 142, 0.50);
}

.board{
    padding: 5px 60px 10px 70px;
}

.lead{
    height: 165px;
    display: grid;
    grid-auto-rows: 15%;
    row-gap: 0.4em;
}

.first-one{
    height: 25px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background: #FEB08A;
    border-radius: 20px;
    box-shadow: 0 2px 2px rgba(54, 85, 167, 0.72);

    /* border: 2px solid #ff0000; */
}

p{
    height: 25px;
    font-family: myFont;
    letter-spacing: 2px;
    font-size: 10px;
    color: #33518F;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 25px;
    filter: blur(0.5px);
    text-shadow: 0px 4px 4px rgba(49, 80, 142, 0.50);
    /* border: 2px solid #ff0000; */


}

h3{
    height: 25px;
    font-family: Josefin Sans;
    letter-spacing: 2px;
    font-size: 15px;
    color: rgba(10, 55, 126, 0.65);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    text-shadow: 0px 4px 4px rgba(49, 80, 142, 0.50);

}

.scor-coin{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
}

.coin{
    width: 15px;
    height: 15px;
}

.second-one{
    height: 25px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background: #CBCBCB;
    border-radius: 20px;
    box-shadow: 0 2px 2px rgba(54, 85, 167, 0.71);

    /* border: 2px solid #ff0000; */
}

