*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family: myFont;
}


@font-face {
    font-family: myFont;
    src: url(../fonts/Season\ Prime.otf);
}

@font-face {
    font-family: hFont;
    src: url(../fonts/Playground.ttf);
}

/*--------------------------profile card----------------------------*/

.profile-content
{
    background-color: rgba(217, 217, 217, 0.05);
    border-radius: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* border: 1px solid yellow; */
    
}

.profile-info
{
    width: 95%;
    /* background-color: rgba(217, 217, 217, 0.05); */
    height: 93%;
    display: grid;
    grid-template-rows:repeat(2, 48.5%);
    row-gap: 3%;
    border-radius: 50px;
    /* border: 1px solid rgb(255, 0, 0); */

}

.profile-info > div
{
    border-radius: 50px;
    /* background-color: #FFEEBF; */
    /* border: 2px solid rgb(234, 0, 255); */

}

.infos
{
    display: grid;
    grid-template-columns: 66.18% 32.32%;
    padding: 10px;
    column-gap: 1.5%;
    /* border: 2px solid red; */
    background-color: #FFEEBF;
}

.other-cards
{
    display: grid;
    grid-template-columns: 32.32% 32.32% 32.32%;
    column-gap:1.5%;
}

/* .infos-user-container
{
    border: 2px solid rgba(95, 114, 125, 0.08);
    background-color: rgba(95, 114, 125, 0.08);
    border-radius: 50px;
} */

.wining-rate-container
{
    display: grid;
    grid-template-rows: 25% 75% ;
    background-color: rgba(95, 114, 125, 0.08);
    border: 2px solid rgba(95, 114, 125, 0.08);
    border-radius: 30px;
}


.title
{
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    color: #14397C;
    letter-spacing: 2px;
    font-size: 25px;
}
.circle-and-buttons
{
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    /* border: 2px solid black; */
    align-items: center;
    justify-content: center;
    column-gap: 5%;


}

.profile-info h1
{
    /* border: 2px solid black; */
    letter-spacing: 2px;
    font-size: 25px;
    text-shadow: 0px 4px 4px rgba(49, 80, 142, 0.50);
}
.circle 
{
    padding-left: 5%;
    padding-top: 15%;

}

.buttons
{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    align-items: flex-start;
    padding-left: 15%;
}


.win-button , .lose-button, .draw-button
{
    /* border: 2px solid black; */
    text-align: center;
    background-color: #CBCBCB;
    border-radius: 8px;
    width: 120px;
    height: 45px;
    font-family: myFont;
    border: none;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    letter-spacing: 2px;
    font-size: 16px;
    
}

.win-button
{
    color: #0AA989;
}

.lose-button
{
    color: #D44444;
}

.draw-button
{
    color: #0B42AF;
}

.win-button:hover, .lose-button:hover, .draw-button:hover
{
    background-color: #ddd;
}

/*--------------------------------match history card----------------------*/
.match-history-container
{
    display: grid;
    grid-template-rows: 20% 70% 10%;
    /* border: 2px solid red; */
    background-color: #FFEEBF;
    border-radius: 50px;

}

.title-item 
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #14397C;
    grid-column: span 2;
    /* border: 2px solid black; */
    /* padding-top: 2px; */
}


.view-all-match
{
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */

}

.view-all-match a{
    text-decoration: none;
    color: #14397C;
}

.center-div{

    display: grid;
    grid-auto-rows: 20%;
    row-gap: 6%;
    padding-top: 6px;
    grid-column: span 2;
    /* border: 2px solid red; */
    align-items: center;
    justify-content: center;
}

.match-result-item
{
    display: grid;
    grid-column: span 2;
    grid-template-columns:repeat(3, 33.33%);
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    background-color: #CBCBCB;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    width: 282px;
    height: 57px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    /* border: 2px solid red; */
    
}

.picture-item{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */

}

.picture-item img
{
    width: 50px;
    height: 50px;
    border: 1px solid #CBCBCB;
    border-radius: 50%;
    color: #14397C;
    letter-spacing: 2px;
    font-size: 25px;
    /* border: 2px solid red; */
}

/*------------------------ freinds and requests--------------*/

.friends-and-requetes-container
{
    display: grid;
    grid-template-rows: 20% 70% 10%;
    background-color:#FFEEBF ;
    border-radius: 50px;
    /* border: 2px solid red; */
}

.friends-and-req-buttons
{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    /* border: 2px solid green; */
    
}

.friends-and-req-buttons > div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* display: none; */
    /* border: 2px solid rgb(255, 230, 3); */
}

.friends-and-req-buttons > div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
}

.friends-and-req-buttons > div:nth-child(3){
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.friends-button, .request-button, .pending-button
{
    color: #14397C;
    border: none;
    border-radius: 50px;
    width: 80%;
    height: 60%;
    /* border: 2px solid rgb(255, 230, 3); */

    background-color:#FFEEBF ;

}

.friends-scope-item
{
    display: grid;
    grid-auto-rows: 20%;
    row-gap: 6%;
    padding-top: 10px;
    /* border: 2px solid rgb(1, 47, 255); */
}
.pending-friends-items
{
    display: none;
    grid-auto-rows: 20%;
    row-gap: 6%;
    padding-top: 10px;
}

.friend-item, .request-item, .pending-friend-item
{
    display: grid;
    grid-template-columns: 33% 30% 38%;
    column-gap: 1%;
    color: #14397C;
    /* border: 2px solid rgb(1, 255, 255); */

}

.friend-item .picture-item, .request-item  .picture-item, .pending-friend-item  .picture-item
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 2px solid rgb(0, 255, 76); */

}

.data-user
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* border: 2px solid rgb(255, 1, 1); */

}

.friend-item .chat-icon, .accept-and-refuse-icons, .cancel-icon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 2px solid rgb(0, 255, 76); */

}
.accept-and-refuse-icons
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    /* border: 2px solid rgb(0, 255, 76); */
}

.fa-check
{
    color: #0AA989;
}

.fa-circle-xmark
{
    color: #D44444;
}

.view-all-match
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid rgb(255, 208, 0); */
}
.view-all-link-fr
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-all-link-fr a, .view-all-match a{
    text-decoration: none;
    color: #14397C;

}

.view-all-link-fr a:hover, .view-all-match a:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s;
}

.view-all-link-fr a:active, .view-all-match a:active{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s;
}

.requestes-items
{
    display: none;
    grid-auto-rows: 20%;
    row-gap: 6%;
    padding-top: 10px;

}

/*-------------------------------- achienements -----------------------*/

.achievements-container
{
    display: grid;
    grid-template-rows: repeat(3, 31.33%);
    align-items: center;
    text-align: center;
    gap: 6%;
    background-color: #FFEEBF;
    border-radius: 50px;
    /* border: 2px solid rgb(0, 26, 255); */
}

.achievements-title-elt
{
    grid-column: span 2;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 75px;
    /* border: 2px solid red; */
}

.achievements-title-elt > h1
{
    color: #14397C;
    letter-spacing: 2px;
    font-size: 25px;
}

.badges-container
{
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content:center ;
    gap: 70px;
    position: relative;
    bottom: 60px;
    /* border: 2px solid red; */
}

.badge-item
{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    background-color: rgba(95, 114, 125, 0.08);
    display: grid;
    grid-template-rows: 20% 80%;
    justify-content: flex-start;
    /* border: 2px solid red; */

}
/*------------------------------------- profile -----------------*/

.infos-user-container
{
    display : grid;
    border: 2px solid rgba(95, 114, 125, 0.08);
    background-color: rgba(95, 114, 125, 0.08);
    border-radius: 50px;
    grid-template-columns: 30% 70%;
}

.infos-user-container > div:nth-child(1)
{
    /* border: 12px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding-left: 40px;
    padding-top: 23px;
}

.infos-user-container > div > img
{
    border: 2px solid #CBCBCB;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.infos-user-container > div:nth-child(2)
{
    display: flex;
    /* border: 2px solid blueviolet; */
    flex-direction: column;
    justify-content: center;
}

.infos-user-container > div:nth-child(2) > div:nth-child(1)
{
    /* border: 2px solid gold; */
    color: #315084;
}


.infos-user-container > div:nth-child(2) > div:nth-child(2)
{
   
    padding-bottom: 5px;
    margin-top: 15px;
    /* border: 2px solid red; */
}

.infos-user-container > div:nth-child(2) > div:nth-child(2) input
{
   
    border: 2px solid rgba(203, 203, 203, 33);
    color: #315084;
    width: 110px;
    height: 28px;
    border-radius: 30px;
    padding-left: 10px;
    background: url(".././images/pencil.png")  no-repeat right;
}


.infos-user-container > div:nth-child(2) > div:nth-child(3)
{
    display: flex;
    /* border: 2px solid green; */
    flex-direction: column;
    padding-top: 20px;
    gap: 20px;
}

.infos-user-container > div:nth-child(2) > div:nth-child(3) >div:nth-child(1)
{
    color: #5293CB;
    /* border: 2px solid yellow; */
}

.infos-user-container > div:nth-child(2) > div:nth-child(3) > div:nth-child(1) > span:nth-child(1)
{
    display: flex;
    justify-content: flex-end;
    /* border: 2px solid red; */
    padding-right: 69px;
}


.infos-user-container > div:nth-child(2) > div:nth-child(3) > div:nth-child(2) 
{
    color: #5293CB;
    display: flex;
    align-items: center;
    /* border: 2px solid greenyellow; */
    width: 627px;
    height: 30px;
    background-color:  rgba(203, 203, 203, 33);
    border-radius: 0px 0px 20px 20px;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;

}

.fa-camera
{
     /* border: 2px solid red; */
     position: relative;
     /* right: 10px; */
     bottom: 30px;
     left: 54px;
}

.achievement-item
{
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* border: 2px solid red; */
    position: relative;


}
.achievement-item img
{
    position: absolute;
    /* left: 0; */
    right: 40px;
    bottom: 2.5px;
    width: 18px;
    height: 18px;
}

progress
{
    -webkit-appearance: none;
    height: 10px;
    width: 88.8%;
    position: relative;
    bottom: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    appearance: none;
    /* background-color: #236647;  */
}

progress::-webkit-progress-bar {
    background-color: #e0e0e0; /* Background color for WebKit browsers */
    border-radius: 20px; /* Round the corners for WebKit browsers */
}

progress::-webkit-progress-value {
    background-color: #236647; /* Color of the progress value for WebKit browsers */
    border-radius: 20px; /* Round the corners for WebKit browsers */
}

progress::-webkit-progress-bar {
    background-color: #e0e0e0; /* Background color of the progress bar */
    border-radius: 20px;
}

progress::-moz-progress-bar {
    background-color: #236647; /* Color of the progress value for Mozilla Firefox */
    border-radius: 20px; /* Round the corners for Mozilla Firefox */
}

/*-------------------------------*/
canvas
{
    font-family: myFont;
}

/* -----------FRIENDS-SCOP------------- */

.request-scop, .friends-scop,.pending-scop
{
    position: absolute;
    top: 15.5%;
    right: 26.5%;
    width: 920px;
    height: 720px;
    background-color: rgba(22,28,64,0.8);
    backdrop-filter: blur(1px);
    border-radius:30px ;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    border: none;
    z-index: 1;
    display: none;
}

.friends-scop .search,
.request-scop .search,
.pending-scop .search
{
    text-align: center;
    background-color: #BDBDBE;
    margin: auto;
}

.friends-scop .header,
.request-scop .header-request,
.pending-scop .pending-header
{
    padding-top: 33px;
    display: grid;
    grid-template-columns: 90% 10%;
}
.friends-scop .close-icon
{
    margin: auto;
}
.friends-list,
.request-scop .request-list,
.pending-scop .pending-list
{
    background-color: #D0D2D9;
    margin: 30px 70px 0px 70px;
    height: 590px;
    width: 770px;
    border-radius: 10px;
    padding-bottom: 5px;
    overflow-y: scroll;
    overflow-x: none;
}

.friend-info,.pending-scop .pending-info{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    background-color: #CBCBCB;
    height: 60px;
    margin: 5px 5px 0 5px;
}

.friend-info p{
    font-size: 17px;
    font-family: myFont;
    margin-left: -60px;
    color: #14397C;
}

/* /* ----remmove this later ---- / */

.friends-scop .search,
.view-all-match-history .search
{
    background-color: #BDBDBE;
}

.friend-info img ,
.request-info img,
.pending-info img

{
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius:50px;
}

.friend-info a,.request-scop a{
    text-decoration: none;
}

.friend-info i
{
    font-size: 30px;
    margin-left:  400px;
}

/* / ------close-icon------- */

.friends-scop .close-icon{
    margin: auto;

}

.friends-scop .close-icon a {
    text-decoration: none;
}

/* /* ------close-icon------- / */

.friends-scop .close-icon{
    margin: auto;

}

.friends-scop .close-icon a {
    text-decoration: none;
}
/* / ---custom scrool bar-- / */

::-webkit-scrollbar{
    width: 12px ;
}
::-webkit-scrollbar-track{
    background:#D0D2D9;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: #F45250;
    border-radius: 10px;
}

/* / ---------request-scop------------------------------------ / */

.request-scop .request-info
{
    display: grid;
    grid-template-columns: 20% 30% 50%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    background-color: #CBCBCB;
    height: 60px;
    margin: 5px 5px 0 5px;
}
.request-scop .request-info i{
    margin: 2px;

}
.request-scop .request-info a{
    text-decoration: none;
}
.request-scop .request-info .data,
.pending-scop .pending-info .data
{
    font-size: 17px;
    font-family: myFont;
    /* / border: 1px solid #0AA989; / */
    margin-left: -60px;
}
.request-scop .request-info .data h4,
.pending-scop .pending-info .data h4

{
    font-family: myFont;
    color: #14397C;
}
.request-scop .request-info .data p,
.pending-scop .pending-info .data p
{
    color:#A7A4A4;
    font-size: 14px;
    font-family: myFont;
}
.request-scop .request-info .request-icons,
.pending-scop .pending-info .pending-icon
{

    /* / border: 1px solid #0AA989; / */
    text-align: end;
    margin-right: 20px;
}
.request-scop .request-info .request-icons .fa-solid
{
    font-size: 30px;
    color: #0AA989;
}
.request-scop .request-info .request-icons .fa-regular
{
    color: #D44444;
    font-size: 25px;
}
/* / ----------------------pending-friends------ */
.pending-scop .pending-list .fa-regular
{
    color: #D44444;
    font-size: 25px;
}
.pending-scop .pending-list a{
    text-decoration: none;
}
/*----------------View-all-match-history-------------------------*/

.view-all-match-history{
    grid-template-rows: 13.5% 86.5%;
    position: absolute;
    top: 15.5%;
    right: 26.5%;
    width: 920px;
    height: 720px;
    background-color: rgba(22,28,64,0.8);
    backdrop-filter: blur(1px); 
    border-radius: 30px ;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    border: none;
    display: none;    
}


.view-all-match-history .header{
    grid-template-columns: 90% 10%;
    display: grid;

}

.view-all-match-history .search{
    text-align: center;
    margin: auto;

}

.view-all-match-history .close-icon{
    margin: auto;
}

.view-all-match-history .content{
    background-color: #CBCBCB;
    grid-template-rows: repeat(8, 12.5%);
    display: grid;
    justify-self: center;
    padding: 5px; 
    width: 85%;
    height: 95%;
    border-radius: 10px;
    overflow-y:scroll;
    overflow-x: none;
}

.view-all-match-history .content .match-info{
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    border-radius: 10px;
    grid-template-columns: 51% 49%;
    display: grid;
    align-items: center;
    padding: 5px;
}

.view-all-match-history .content .match-info .left{
    display: grid;
    grid-template-columns: 15% 80% 5%;
    padding-left: 15px;
  
}

.view-all-match-history .content .match-info .right{
    display: flex;
    justify-content: end;
    padding-right: 10px;
    padding-left: 0px;
}

.view-all-match-history .content .match-info .avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;

}

.view-all-match-history .content .match-info .left .score{
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    font-family: myFont;
    color: #0AA989;
}
 
.separator{
    color: #14397C;
    margin: auto;  
    font-size: 20px;
    font-weight: bold;  
}

.view-all-match-history .content .match-info .right{
    grid-template-columns: 85% 15%;
    display: grid;
    padding-left: 5px;


}

.view-all-match-history .content .match-info .right .score{
    align-content: center;    
    font-size: 20px;
    font-weight: bold;
    font-family: myFont;
    color: #D44444;
}
