*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@font-face {
    font-family: myFont;
    src: url(../../assets/fonts/Season\ Prime.otf);
}

@font-face {
    font-family: hFont;
    src: url(../../assets/fonts/Playground.ttf);
}

#all{
    background: #161C40;
    /* width: 100vw; */
    height: 100vh;
    display: grid;
    grid-template-rows: 8% 90%;
    /* border: 1px solid red; */
}

#container{
    padding: 6px 25px;
    /* border: 1px solid yellow; */
}

#container nav{
    display: flex;
    align-items: center;
}

/* --------logo-------------- */

#container nav .logo{
    width: 80px;
    height: 50px;
    cursor: pointer;
    transition: filter 0.3s ease;
    padding-left: 2px;
    /* border: 1px solid green; */
}

#container nav .logo:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s;
}

#container nav .logo.clicked{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s;
}

/* ------------search------------ */

#container nav .search{
    width: 340px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    cursor: pointer;
    border-radius: 27px;
    background: #135B8B;
    padding: 16px;
    box-shadow: 0 2px 2px rgba(52, 81, 143, 33);
    transition: box-shadow 0.5s;
    filter: blur(0.5px);
}

#container nav .search:focus-within{
    box-shadow: 0 0 2px #5293CB;
}

#container nav .search input{
    font-size: 16px;
    font-family: myFont;
    color: #ffffff;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
}

#container nav .search input::placeholder{
    color: #5293CB;
    font-size: 14px;
}

/* --------notif-setting-logout------------ */

#container nav .left-side{
    width: 100%;
    height: 49px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.8em;
    /* border: 1px solid yellow; */
}

.content{
    height: auto;
    display: grid;
    grid-template-columns: 7% 84% 7% ;
    column-gap: 1em;
    /* border: 1px solid green; */
}

.content .side-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    /* border: 1px solid rgb(0, 255, 238); */
}

.content .friends{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(234, 1, 255); */
}

/* -----------Icons------------------ */

.icon{
    color: #5293CB;
    cursor: pointer;
    font-size: 24px;
    transition: color 0.4s ease, filter 0.4s ease;
}

.icon:hover{
    color: #F45250;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    filter: blur(0.5px);
    transition: 0.5s;
} 

.icon.clicked{
    color: #F45250;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s;
    filter: blur(0.75px);
}

.global-content{

}
