*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family: myFont;
}


@font-face {
    font-family: myFont;
    src: url(../fonts/Season\ Prime.otf);
}

@font-face {
    font-family: hFont;
    src: url(../fonts/Playground.ttf);
}

/* .container nav .search input{
    font-size: 16px;
    font-family: myFont;
    color: #ffffff;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
}

.container nav .search input::placeholder{
    color: #5293CB;
    font-size: 14px;
} */

/*--------------------------profile card----------------------------*/
/* @property --progress{
syntax: '<number>';
initial-value: 70;
inherits: false;
} */

.circular-container{
    /* border: 2px solid red; */

    display: flex;
    justify-content: right;
    
    /* align-items: center; */
}
.circular_progress {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 185px;
    height: 175px;
    animation: ProgressAnim 2s forwards;
    
}

.circular_progress::before{
    content: '';
    position: absolute;
    width: 175px;
    height: 165px;
    top: 50%;
    left: 50%;
    background-color: #FFEEBF;
    border-radius: 50%;
    transform: translate(-50%, -50%);

}
.circular_progress span{
    z-index: 1;
}

.profile-content
{
    background-color: rgba(217, 217, 217, 0.05);
    border-radius: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* border: 1px solid yellow; */
    
}

.profile-info
{
    width: 95%;
    /* background-color: rgba(217, 217, 217, 0.05); */
    height: 93%;
    display: grid;
    grid-template-rows:repeat(2, 48.5%);
    row-gap: 3%;
    border-radius: 50px;
    /* border: 1px solid rgb(255, 0, 0); */

}

.profile-info > div
{
    border-radius: 50px;
    /* background-color: #FFEEBF; */
    /* border: 2px solid rgb(234, 0, 255); */

}

.infos
{
    display: grid;
    grid-template-columns: 66.18% 32.32%;
    padding: 10px;
    column-gap: 1.5%;
    /* border: 2px solid red; */
    background-color: #FFEEBF;
}

.other-cards
{
    display: grid;
    grid-template-columns: 32.32% 32.32% 32.32%;
    column-gap:1.5%;
}

/* .infos-user-container
{
    border: 2px solid rgba(95, 114, 125, 0.08);
    background-color: rgba(95, 114, 125, 0.08);
    border-radius: 50px;
} */

.wining-rate-container
{
    display: grid;
    grid-template-rows: 25% 75% ;
    background-color: rgba(95, 114, 125, 0.08);
    border: 2px solid rgba(95, 114, 125, 0.08);
    border-radius: 30px;

}


.title
{
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    color: #14397C;
    letter-spacing: 2px;
    font-size: 25px;
}
.circle-and-buttons
{
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    /* border: 2px solid black; */
    align-items: center;
    justify-content: center;
    column-gap: 5%;


}

.profile-info h1
{
    /* border: 2px solid black; */
    letter-spacing: 2px;
    font-size: 25px;
    text-shadow: 0px 4px 4px rgba(49, 80, 142, 0.50);
}
.circle 
{
    padding-left: 5%;
    padding-top: 15%;

}

.buttons
{
    display: flex;
    flex-direction: column;
    row-gap: 33px;
    justify-content: center;
    align-items: flex-start;
    padding-left: 15%;
    /* border: 2px solid red; */

}


.win-button , .lose-button
{
    /* border: 2px solid black; */
    text-align: center;
    background-color: #CBCBCB;
    border-radius: 8px;
    width: 120px;
    height: 70px;
    font-family: myFont;
    border: none;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    letter-spacing: 2px;
    /* font-size: 16px; */
    
}

.win-button:hover, .lose-button:hover
{
    background-color: #ddd;
}

/*--------------------------------match history card----------------------*/
.match-history-container
{
    display: grid;
    grid-template-rows: 20% 70% 10%;
    /* border: 2px solid red; */
    background-color: #FFEEBF;
    border-radius: 50px;

}

.title-item 
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #14397C;
    grid-column: span 2;
    /* border: 2px solid red; */
    padding-top: 2px;
}

/* .title-item span {
    border: 2px solid red;

} */

.view-all-match
{
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */

}

.view-all-match a{
    text-decoration: none;
    color: #14397C;
}

.center-div{

    display: grid;
    grid-auto-rows: 20%;
    row-gap: 6%;
    padding-top: 20px;
    grid-column: span 2;
    /* border: 2px solid red; */
    align-items: center;
    justify-content: center;

    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: 10px;
}

.match-result-item
{
    display: grid;
    grid-column: span 2;
    grid-template-columns:repeat(3, 33.33%);
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    background-color: #CBCBCB;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    width: 282px;
    height: 57px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    /* border: 2px solid red; */
    
}

.picture-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:4%
    /* border: 2px solid red; */

}

.picture-item img
{
    width: 50px;
    height: 50px;
    border: 1px solid #CBCBCB;
    border-radius: 50%;
    color: #14397C;
    letter-spacing: 2px;
    font-size: 25px;
    /* border: 2px solid red; */
}

/*------------------------ freinds and requests--------------*/

.friends-and-requetes-container
{
    display: grid;
    grid-template-rows: 20% 70% 10%;
    background-color:#FFEEBF ;
    border-radius: 50px;
    /* border: 2px solid red; */
}

.friends-and-req-buttons
{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    /* border: 2px solid green; */
    
}

.friends-and-req-buttons > div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* display: none; */
    /* border: 2px solid rgb(255, 230, 3); */
}

.friends-and-req-buttons > div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
}

.friends-and-req-buttons > div:nth-child(3){
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.friends-button, .request-button, .pending-button
{
    color: #14397C;
    border: none;
    border-radius: 50px;
    width: 80%;
    height: 60%;
    /* border: 2px solid rgb(255, 230, 3); */

    background-color:#FFEEBF ;

}

.friends-scope-item
{
    display: grid;
    grid-auto-rows: 20%;
    row-gap: 6%;
    padding-top: 10px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    /* align-items: center; */
    scrollbar-width: 10px;
    /* border: 2px solid rgb(1, 47, 255); */
}

.pending-friends-items
{
    display: grid;
    grid-auto-rows: 20%;
    row-gap: 6%;
    padding-top: 10px;

    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: 10px;
}

.friend-item, .request-item, .pending-friend-item
{
    display: grid;
    grid-template-columns: 32% 30% 36%;
    column-gap: 1%;
    color: #14397C;
    /* justify-content: center; */
    /* align-items: end; */

    /* border: 2px solid rgb(1, 255, 255); */

}

.friend-item .picture-item, 
.request-item  .picture-item, .pending-friend-item  .picture-item
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 2px solid rgb(0, 255, 76); */

}

.data-user
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* border: 2px solid rgb(255, 1, 1); */

}

.friend-item .chat-icon, .accept-and-refuse-icons, .cancel-icon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 2px solid rgb(0, 255, 76); */

}
.accept-and-refuse-icons
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    /* border: 2px solid rgb(0, 255, 76); */
}


.view-all-match
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid rgb(255, 208, 0); */
}
.view-all-link-fr
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-all-link-fr a, .view-all-match a{
    text-decoration: none;
    color: #14397C;

}

.view-all-link-fr a:hover, .view-all-match a:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s;
}

.view-all-link-fr a:active, .view-all-match a:active{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s;
}

.requestes-items
{
    display: grid;
    grid-auto-rows: 20%;
    row-gap: 6%;
    padding-top: 10px;

    overflow-y: scroll;
    scroll-behavior: smooth;
    /* width: 106%; */
    scrollbar-width: 10px;

}

/*-------------------------------- achienements -----------------------*/

.achievements-container
{
    display: grid;
    grid-template-rows: repeat(3, 31.33%);
    align-items: center;
    text-align: center;
    gap: 6%;
    background-color: #FFEEBF;
    border-radius: 50px;
    /* border: 2px solid rgb(0, 26, 255); */
}

.achievements-title-elt
{
    grid-column: span 2;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 75px;
    /* border: 2px solid red; */
}

.achievements-title-elt > h1
{
    color: #14397C;
    letter-spacing: 2px;
    font-size: 25px;
}

.badges-container
{
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content:center ;
    gap: 70px;
    position: relative;
    bottom: 60px;
    /* border: 2px solid red; */
}

.badge-item
{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    background-color: rgba(95, 114, 125, 0.08);
    display: grid;
    grid-template-rows: 20% 80%;
    justify-content: flex-start;
    /* border: 2px solid red; */

}
/*------------------------------------- profile -----------------*/

.infos-user-container
{
    display : grid;
    border: 2px solid rgba(95, 114, 125, 0.08);
    background-color: rgba(95, 114, 125, 0.08);
    border-radius: 50px;
    grid-template-columns: 30% 70%;
}

.infos-user-container > div:nth-child(1)
{
    /* border: 12px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding-left: 40px;
    padding-top: 23px;
}

.infos-user-container > div > img
{
    border: 2px solid #CBCBCB;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.infos-user-container > div:nth-child(2)
{
    display: flex;
    /* border: 2px solid blueviolet; */
    flex-direction: column;
    justify-content: center;
}

.infos-user-container > div:nth-child(2) > div:nth-child(1)
{
    /* border: 2px solid gold; */
    color: #315084;
}


.infos-user-container > div:nth-child(2) > div:nth-child(2)
{
   
    padding-bottom: 5px;
    margin-top: 15px;
    /* border: 2px solid red; */
}

.infos-user-container > div:nth-child(2) > div:nth-child(2) input
{
   
    border: 2px solid rgba(203, 203, 203, 33);
    color: #315084;
    width: 110px;
    height: 28px;
    border-radius: 30px;
    padding-left: 10px;
    background: url(".././images/pencil.png")  no-repeat right;
}


.infos-user-container > div:nth-child(2) > div:nth-child(3)
{
    display: flex;
    /* border: 2px solid green; */
    flex-direction: column;
    padding-top: 20px;
    gap: 20px;
}

.infos-user-container > div:nth-child(2) > div:nth-child(3) >div:nth-child(1)
{
    color: #5293CB;
    /* border: 2px solid yellow; */
}

.infos-user-container > div:nth-child(2) > div:nth-child(3) > div:nth-child(1) > span:nth-child(1)
{
    display: flex;
    justify-content: flex-end;
    /* border: 2px solid red; */
    padding-right: 69px;
}


.infos-user-container > div:nth-child(2) > div:nth-child(3) > div:nth-child(2) 
{
    color: #5293CB;
    display: flex;
    align-items: center;
    /* border: 2px solid greenyellow; */
    width: 627px;
    height: 30px;
    background-color:  rgba(203, 203, 203, 33);
    border-radius: 0px 0px 20px 20px;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;

}

.fa-camera
{
     /* border: 2px solid red; */
     position: relative;
     /* right: 10px; */
     bottom: 30px;
     left: 54px;
}

.achievement-item
{
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* border: 2px solid red; */
    position: relative;


}
.achievement-item img
{
    position: absolute;
    /* left: 0; */
    right: 40px;
    bottom: 2.5px;
    width: 18px;
    height: 18px;
}

progress
{
    -webkit-appearance: none;
    height: 10px;
    width: 88.8%;
    position: relative;
    bottom: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    appearance: none;
    /* background-color: #236647;  */
}

progress::-webkit-progress-bar {
    background-color: #e0e0e0; /* Background color for WebKit browsers */
    border-radius: 20px; /* Round the corners for WebKit browsers */
}

progress::-webkit-progress-value {
    background-color: #236647; /* Color of the progress value for WebKit browsers */
    border-radius: 20px; /* Round the corners for WebKit browsers */
}

progress::-webkit-progress-bar {
    background-color: #e0e0e0; /* Background color of the progress bar */
    border-radius: 20px;
}

progress::-moz-progress-bar {
    background-color: #236647; /* Color of the progress value for Mozilla Firefox */
    border-radius: 20px; /* Round the corners for Mozilla Firefox */
}

/* -------------------------------------- */

.search
{
    width: 250px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 120px; */
    cursor: pointer;
    border-radius: 27px;
    background: #CBCBCB;
    padding-left: 50px;
}

.search input{
    font-size: 16px;
    font-family: myFont;
    letter-spacing: 2px;
    color: #807c7c;
    margin-left: 20px;
    outline: none;
    border: none;
    background: transparent;
    width: 250px;
}
